version: "3.8"

services:


  web:
    image: kanomble/rec_blast_base_image:2.2 #wget -qO- https://raw.githubusercontent.com/eficode/wait-for/v2.1.0/wait-for > wait-for && chmod u+x wait-for &&
    deploy:
      resources:
        limits:
          memory: 42G

    command:  sh -c "chmod u+x wait-for && ./wait-for rabbitmq:5672 && ./wait-for postgres:5432
     && python manage.py makemigrations && python manage.py migrate
     && python manage.py runscript startup
     && python manage.py runserver 0.0.0.0:8080"
    networks:
      - main
    restart: unless-stopped
    env_file:
      - ./.env.dev
    depends_on:
      - rabbitmq
      - postgres
    volumes:
      - ./data:/blast/reciprocal_blast/media
      - ./tmp:/blast/reciprocal_blast/tmp
      - ./celery_blast:/blast/reciprocal_blast
    ports:
      - "8080:8080"

  celery_worker:
    image: kanomble/rec_blast_base_image:2.2
    command: sh -c "./wait-for rabbitmq:5672 && ./wait-for web:8080 -- celery worker -A celery_blast -l INFO"
    env_file:
      - ./.env.dev
    depends_on:
      - web
      - postgres
      - rabbitmq
    networks:
      - main
    volumes:
      - ./data:/blast/reciprocal_blast/media
      - ./tmp:/blast/reciprocal_blast/tmp
      - ./celery_blast:/blast/reciprocal_blast
    restart: unless-stopped

  flower:
    image: kanomble/rec_blast_base_image:2.2
    command: sh -c "./wait-for rabbitmq:5672 && ./wait-for web:8080 -- flower -A celery_blast --port=5555"
    networks:
      - main
    env_file:
      - ./.env.dev
    depends_on:
      - web
      - postgres
      - rabbitmq
      - celery_worker
    volumes:
        - ./celery_blast:/blast/reciprocal_blast
    ports:
      - "5555:5555"
    restart: unless-stopped

  rabbitmq:
    hostname: rabbitmq
    image: kanomble/rec_blast_rabbitmq_image:1.1
    networks:
      - main
    ports:
      - "5672:5672"
    restart: on-failure

  postgres:
    hostname: postgres
    image: kanomble/rec_blast_postgres_db_image:1.0
    env_file:
      - ./.env.prod.db
    networks:
      - main
    restart: on-failure
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
networks:
  main:
