version: "3.8"

services:

  web:
    image: kanomble/rec_blast_base_image:2.4
    deploy:
      resources:
        limits:
          memory: 8G

    command:  sh -c "wait-for rabbitmq:5672 && wait-for postgres:5432
     && python manage.py makemigrations && python manage.py migrate
     && python manage.py runscript startup
     && gunicorn celery_blast.wsgi:application --bind 0.0.0.0:8000"
    networks:
      - main
    restart: unless-stopped
    env_file:
      - ./.env.prod
    depends_on:
      - rabbitmq
      - postgres
    volumes:
      - ./data:/blast/reciprocal_blast/media
      - ./tmp:/blast/reciprocal_blast/tmp
      - ./celery_blast:/blast/reciprocal_blast
    expose:
      - 8000

  celery_worker:
    image: kanomble/rec_blast_base_image:2.4
    command: sh -c "wait-for rabbitmq:5672 && wait-for web:8000 -- celery worker -A celery_blast -l INFO"
    env_file:
      - ./.env.prod
    depends_on:
      - web
      - postgres
      - rabbitmq
      - nginx
    networks:
      - main
    volumes:
      - ./data:/blast/reciprocal_blast/media
      - ./tmp:/blast/reciprocal_blast/tmp
      - ./celery_blast:/blast/reciprocal_blast
    restart: unless-stopped

  jupyter_notebook:
    image: kanomble/rec_blast_base_image:2.4
    command:  sh -c "cd media/ && jupyter notebook --port=8888 --no-browser --ip=0.0.0.0 --allow-root"
    networks:
      - main
    restart: unless-stopped
    env_file:
      - ./.env.prod
    depends_on:
      - rabbitmq
      - postgres
    volumes:
      - ./data:/blast/reciprocal_blast/media
    ports:
      - "8888:8888"

  flower:
    image: kanomble/rec_blast_base_image:2.4
    command: sh -c "wait-for rabbitmq:5672 && wait-for web:8000 -- flower -A celery_blast --port=5555"
    networks:
      - main
    env_file:
      - ./.env.prod
    depends_on:
      - web
      - postgres
      - rabbitmq
      - celery_worker
    volumes:
        - ./celery_blast:/blast/reciprocal_blast
    ports:
      - "5555:5555"
    restart: unless-stopped

  nginx:
    build:
      context: ./
      dockerfile: ./nginx/Dockerfile
    volumes:
      - ./celery_blast/static:/blast/reciprocal_blast/static
      - ./data:/blast/reciprocal_blast/media
    ports:
      - 1337:80
    depends_on:
      - web
    networks:
      - main

  rabbitmq:
    hostname: rabbitmq
    image: kanomble/rec_blast_rabbitmq_image:1.1
    networks:
      - main
    ports:
      - "5672:5672"
    restart: on-failure

  postgres:
    hostname: postgres
    image: kanomble/rec_blast_postgres_db_image:1.0
    env_file:
      - ./.env.prod.db
    networks:
      - main
    restart: on-failure
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
networks:
  main:
