version: "3.8"

services:
  rabbitmq:
    hostname: rabbitmq
    image: kanomble/rec_blast_rabbitmq_image:1.1
    networks:
      - main
    ports:
      - "5672:5672"
    restart: on-failure

  postgres:
    hostname: postgres
    image: kanomble/rec_blast_postgres_db_image:1.0
    environment:
      - TZ=Europe/Berlin
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - main
    restart: on-failure
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    image: kanomble/rec_blast_base_image:1.7
    command:  sh -c "./wait-for rabbitmq:5672 && ./wait-for postgres:5432
     && python manage.py makemigrations && python manage.py migrate
     && python manage.py runscript startup
     && python manage.py runserver 0.0.0.0:8080"
    networks:
      - main
    restart: unless-stopped
    depends_on:
      - rabbitmq
      - postgres
    volumes:
      - ./data:/blast/reciprocal_blast/media
      - ./tmp:/blast/reciprocal_blast/tmp
      - ./celery_blast:/blast/reciprocal_blast
    ports:
      - "8080:8080"

  celery_worker:
    image: kanomble/rec_blast_base_image:1.7
    command: sh -c "./wait-for rabbitmq:5672 && ./wait-for web:8080 -- celery worker -A celery_blast -l INFO"
    depends_on:
      - web
      - postgres
      - rabbitmq
    networks:
      - main
    volumes:
      - ./data:/blast/reciprocal_blast/media
      - ./tmp:/blast/reciprocal_blast/tmp
      - ./celery_blast:/blast/reciprocal_blast
    restart: unless-stopped

  flower:
    image: kanomble/rec_blast_base_image:1.7
    command: sh -c "./wait-for rabbitmq:5672 && ./wait-for web:8080 -- flower -A celery_blast --port=5555"
    networks:
      - main
    environment:
      AMQP_HOST: 'rabbitmq.local'
      AMQP_ADMIN_HOST: 'rabbitmq.local'
    depends_on:
      - web
      - postgres
      - rabbitmq
      - celery_worker
    volumes:
        - ./celery_blast:/blast/reciprocal_blast
    ports:
      - "5555:5555"
    restart: unless-stopped

  panoptes:
    image: kanomble/rec_blast_base_image:1.7
    command: sh -c "./wait-for web:8080 -- panoptes"
    depends_on:
      - web
      - postgres
      - rabbitmq
    ports:
      - "5000:5000"
    networks:
      - main
    restart: unless-stopped

networks:
  main:
