Django
psycopg2-binary
biopython==1.78
wget
celery
django-celery-results
flower==2.0.1
celery-progress
pandas==1.2.4
seaborn==0.12.0
bokeh==2.4.3
python-decouple==3.7
gunicorn==20.1.0
django_extensions
scikit-learn
shiptv
