{% load static %}
<html>

    {% block head %}
    <head>
    <title> {% block title %} SynMibi Reciprocal BLAST {% endblock %} </title>
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link rel="stylesheet"  href="{%  static  'css/blast_project_styles.css'  %}">
    <script src="{% static 'javascript/utils.js' %}"></script>

    {% block add_headers %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    {% endblock %}

        <body class="body_bg" {% block extend_body %}{% endblock %}>

        {% block navbar %}
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'blast_project_dashboard'%}">Home</a>
                <h1 class="navbar_title"> {% block page_title %} SynMibi Reciprocal BLAST {% endblock %}</h1>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'one_way_project_creation' %}">Project Creation: Create Your BLAST Project<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'project_creation' %}">Project Creation: Create Your Reciprocal BLAST Project<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'species_taxids' %}">Create Taxonomic Node Files<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="#">Upload New Genome FASTA Files<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'refseq_transactions_dashboard' %}">RefSeq Database Transactions<span class="sr-only">(current)</span></a>
                          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </div>
                  </div>
        </nav>
        {% endblock %}

        {% block page_description_container %}

        <div style="text-align: right">
             <button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#infobox">
                Display Informations On This Website
            </button>
        </div>

        <div class="container-fluid" id="page_description">

            <div class="modal" id="infobox">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title">
                                <h4> Informations on {% block infoheader %} SynMibi {% endblock %}</h4>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p class="text-left"> {% block page_description %} Content of this website... {% endblock %}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block header %}
        <div class="container-fluid" id="titles">
            <div class="header base_header">
                <br>
                <h2> {% block page_header %} Welcome To This Page! {% endblock %} </h2>
            </div>
        </div>
        {% endblock %}




        <div class="row" style="display: none" id="loading_div">
            <div style="text-align: center" >
              <div class="container-fluid">
                  <p align="center"><iframe src="https://giphy.com/embed/11FuEnXyGsXFba" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
                  <p><a href="https://giphy.com/gifs/icon-loading-beaker-11FuEnXyGsXFba"></a></p>
              </div>
            </div>
        </div>
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>


    {% block disable_base_scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    {% endblock %}
    {% block scripts %}
    {% endblock %}


    </body>
</html>