{% extends "base.html" %}

{% block title %}
    BLAST Database
{% endblock %}


{% block page_title %} Blast Database Table {% endblock %}
{% block infoheader %} Blast Database Table{% endblock %}

{% block header %}
{% endblock %}

{% block page_description %}
    This website displays information of the {{ Database.database_name }} BLAST database.
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="dashboard_project_list_col">
            <h2 style="text-align: center; font-family: 'Courier New'">
                <b>BLAST Database Details </b>
            </h2>
            <form
                    action="{% url 'delete_blast_database' database_id=Database.id %}"
                    method="POST"
                    onSubmit="return confirm('Are you sure you wish to delete?');">
                {% csrf_token %}
                <input type="submit" value="Delete Blast Database" class="btn btn-danger"
                       style="position: absolute; top: 10px; right: 10px;">
            </form>
        </div>

    </div>
    <div class="container-fluid">
        <div class="dashboard_project_list_col">
            <form action="#" method="POST" enctype="multipart/form-data" id="entriesSelected">
            {% csrf_token %}
                <table class="table table-hover" id="blastdatabase">
                    <thead>
                    <tr>
                        <th>Index</th>
                        <th> Assembly Accession</th>
                        <th> Organism Name</th>
                        <th> Taxid</th>
                        <th> Species Taxid</th>
                        <th> Assembly Level</th>
                        <th> FTP Path</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <button id="button" class="btn btn-dark">Download and format selected proteomes</button>
                <br><br>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var table = $('#blastdatabase').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy',
                    'csv',
                    'selectAll',
                    'selectNone',
                    'selectRows'
                ],
                select: true,

                "ajax": {
                    "url": "{% url 'ajax_call' database_id=Database.id %}",
                    "type": "GET",
                    "dataSrc": "data",
                },
                "columns": [
                    {"data": 'index'},
                    {"data": 'assembly_accession'},
                    {"data": 'organism_name'},
                    {"data": 'taxid'},
                    {"data": 'species_taxid'},
                    {"data": 'assembly_level'},
                    {"data": 'ftp_path'}],
                "deferRender": true
            });

            $('#blastdatabase tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#button').click(function (e) {
                e.preventDefault();

                // Check amount of selected entries
                var selected_rows_length = table.rows('.selected').data().length;
                if(selected_rows_length > 10){
                    alert("The maximum number of selected proteomes should not exceed 10.");
                    return 1;
                } else {
                    if(confirm("Please confirm the download operation ...")){
                        var objects = table.rows('.selected').data();
                        var jsonArr = {};

                        for (var i = 0; i < selected_rows_length; i++) {
                            console.log(objects[i])
                            jsonArr[i] = [
                                objects[i]['assembly_accession'],
                                objects[i]['organism_name'],
                                objects[i]['taxid'],
                                objects[i]['species_taxid'],
                                objects[i]['assembly_level'],
                                objects[i]['ftp_path']
                            ];
                        }

                        // Create the URL string
                        var url = "{% url 'download_and_format_selected_proteomes' database_id=Database.id %}"

                        // Create a form element
                        var form = $('<form>', {
                            'method': 'POST', // Change to 'GET' if needed
                            'action': url
                        });

                        // Add hidden input fields for your data
                        $.each(jsonArr, function (key, value) {
                            form.append($('<input>', {
                                'type': 'hidden',
                                'name': key, // Change to a suitable name
                                'value': value
                            }));
                        });

                        // Append the form to the document body
                        form.appendTo('body');

                        // Submit the form
                        form.submit();
                    }
                }
            })
        });
    </script>
{% endblock %}