<form action="{% url 'download_refseq_assembly_summary' %}" method="post" onsubmit="showLoader('loading_div','post_form_container')">
    {% csrf_token %}
    <div class="form-group">

        <a href="#" data-toggle="tooltip"

            {% if refseq_exists %}
                title="RefSeq assembly summary exists, but you can download a newer version!"
            {% else %}
                title="RefSeq assembly summary does not exists, download it by pressing the button!"
            {% endif %}

        >

            <input type="submit" value="Download New RefSeq Assembly Summary" class="btn btn-primary btn-dark">
        </a>
    </div>
</form>