{% extends "base.html" %}

{% block title %}
BLAST Dashboard
{% endblock %}

{% block add_headers %}
{% load static %}
<link rel="stylesheet"  href="{%  static  'css/refseq_transactions_styles.css'  %}">
{% endblock %}
{% block infoheader %} SynMibi Refseq Transaction Dashboard {% endblock %}

{% block page_header %}
Welcome to your Refseq Transaction dashboard, {{request.user}}!
{% endblock %}

{% block page_description %}
Manage your refseq databases. This website allows transactions with the <a href="ftp://ftp.ncbi.nih.gov/genomes/refseq/">refseq database</a>.
Particularly, the functions triggered by the form submit either interact with a previously downloaded <a href="ftp://ftp.ncbi.nih.gov/genomes/refseq/assembly_summary_refseq.txt">assembly_summary_refseq.txt</a>
to create BLAST databases with the makeblastdb script, or they refresh the assembly_summary_refseq.txt file.
{% endblock %}


{% block content %}

<div class="container-fluid" id="post_form_container">
    <div class="row">

        <div class="col" style="text-align: right">
            {% include "refseq_transactions/form_refseq_assembly_summary.html" %}
        </div>

    </div>

    <div class="transparent-box">
        {% include "refseq_transactions/form_refseq_database_download.html" %}
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}
