{% extends "base.html" %}

{% block title %}
BLAST Dashboard
{% endblock %}

{% block infoheader %} SynMibi Refseq Transaction Dashboard {% endblock %}

{% block page_header %}
Welcome to your Refseq Transaction dashboard, {{request.user}}!
{% endblock %}

{% block page_description %}
Manage your refseq databases. This website allows transactions with the <a href="ftp://ftp.ncbi.nih.gov/genomes/refseq/">refseq database</a>.
Particularly, the functions triggered by the form submit either interact with a previously downloaded <a href="ftp://ftp.ncbi.nih.gov/genomes/refseq/assembly_summary_refseq.txt">assembly_summary_refseq.txt</a>
to create BLAST databases with the makeblastdb script, or they refresh the assembly_summary_refseq.txt file.
{% endblock %}


{% block content %}
{% endblock %}