{% extends "base.html" %}

{% block title %} RecBlast Project Details {% endblock %}
{% block add_headers %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.2/css/select.dataTables.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" crossorigin="anonymous">
{% endblock %}

{% block page_title %} One Way Blast Project Details {% endblock %}

{% block infoheader %} Project Details {% endblock %}
{% block page_header %}
Details and pipeline dashboard.
{% endblock %}
{% block page_description %}
<h2> Project Details </h2>
<br>
    <h4> What to do if an error occures during Snakemake execution? </h4>
    <ul>
        <li> Monitor your current Snakemake run via Panoptes and check if the workflow has thrown an error or is still running </li>
        <li> If an error occurred during Snakemake execution you might think about deleting this project and starting a new one with different query sequences, databases or BLAST settings </li>
        <li> If your server machine lost internet connection during execution of the last Snakemake rules, just restart the execution process </li>
    </ul>

    <h4> Basic Informations </h4>
    <ul>
        <li> Click on the "Execute Snakemake" Button if you haven't started your BLAST analysis </li>
        <li> Monitor your current Snakemake run via Panoptes by clicking on the "Panoptes Monitoring" button </li>
        <li> If your Snakemake execution finishes you can view and download the results by clicking on the "Reciprocal Results Table" button which appears after successfull termination at the right side of the project information panel</li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="dashboard_project_list_col">
        <div class="table-responsive">
            <table class="table table-hover" id="blastProjectTable">
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Database</th>
                        <th>Timestamp</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    <tr>
                        <td>{{BlastProject.project_title}}</td>
                        <td>
                            <table>
                                <tr>
                                    <tr> <td>Title: {{BlastProject.project_database.database_name}}</td></tr>
                                    <tr> <td>Entries: {{BlastProject.project_database.assembly_entries}}</td></tr>

                                </tr>
                            </table>
                        </td>

                        <td>{{BlastProject.timestamp |date:'d.m.Y, h:m:s' }}</td>

                        <td>
                            <form class="col"
                                   action="{% url 'one_way_project_deletion' project_id=BlastProject.id%}"
                                   method="GET">
                                {% csrf_token %}
                                <input type="submit" value="Delete Blast Project" class="btn btn-danger">
                            </form>
                        </td>
                        <td>
                            <form class="col"
                                   action="{% url 'one_way_project_execution' project_id=BlastProject.id %}"
                                   method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Execute Snakemake" class="btn btn-dark">
                            </form>
                        </td>
                        {% if BlastProject.project_execution_task_result %}
                            <td><a class="btn btn-primary" href="http://127.0.0.1:5000/workflows/"> PANOPTES MONITORING </a></td>
                        {% endif %}
                        {% if BlastProject.project_execution_task_result.status == 'SUCCESS' %}
                            <td><a class="btn btn-dark" href="{% url 'one_way_html_results' project_id=BlastProject.id remote=0 %}"> Results Table </a></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard_project_list_col" id="QUERY_INFO" style="overflow-x: scroll;overflow-y: scroll">
    </div>

    <div class="dashboard_project_list_col">
        <div class="container-fluid">
            <table class="table table-hover" id="blastdatabase">
                <thead>
                 <tr>
                    <th>Index</th>
                     <th> Assembly Accession</th>
                     <th> Organism Name</th>
                     <th> Taxid </th>
                     <th> Species Taxid </th>
                     <th> Assembly Level </th>
                     <th> FTP Path </th>
                 </tr>
                </thead>
                <tbody>
                 <tr>
                 </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid">

      {% if BlastProject.project_execution_task_result.status == 'SUCCESS' %}
        <div class="dashboard_project_list_col">
            {% include GenusPlotTemplate %}
        </div>
      {% endif %}
    </div>
</div>
{% endblock %}


{% block scripts %}
{%  load static %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<!-- input scripts for DataTables: https://datatables.net/ -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="{% static 'javascript/load_ajax_table.js' %}"></script>


<script>
$(document).ready(function() {
    $('#blastdatabase').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy',
            'csv',
            'selectAll',
            'selectNone',
            'selectRows'
        ],
        select: true,

        "ajax": {
            "url": "{% url 'ajax_call' database_id=Database.id %}",
            "type": "GET",
            "dataSrc": "data",
        },
        "columns": [
            {"data":'index'},
            {"data":'assembly_accession'},
            {"data":'organism_name'},
            {"data":'taxid'},
            {"data":'species_taxid'},
            {"data":'assembly_level'},
            {"data":'ftp_path'}],
        "deferRender": true
        });
} );
</script>
<script>
    $(document).ready(function(){
        {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            console.log("Ready")
        if (this.readyState == 4 && this.status == 200) {
            console.log("IF")
            var query_info = document.getElementById('QUERY_INFO');

            var data=this.responseText;
            var jsonResponse = JSON.parse(data);

            var elementList =createElementListForTable(jsonResponse)
            var table = buildHtmlTable(elementList);
            table.className = 'table table-hover';
            query_info.appendChild(table)
            } else if (this.readyState == 4 && this.status != 200) {

            console.log("ELSE")
            var query_info = document.getElementById('QUERY_INFO');
            var error_div = document.createElement("div");
            var error_p = document.createElement("p");
            error_div.setAttribute("class","alert alert-warning");
            var error_text = document.createTextNode("There is no information of your provided sequences available!")
            error_p.appendChild(error_text)
            error_div.appendChild(error_p)
            query_info.appendChild(error_div)

        }
        };
        xhttp.open("GET", "{% url 'ajax_one_way_wp_to_links' project_id=BlastProject.id remote=0 %}", true);
        xhttp.send();
        }
    });
</script>
{% endblock %}