{% extends "base.html" %}

{% block title %} RecBlast Project Details {% endblock %}
{% block add_headers %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.2/css/select.dataTables.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" crossorigin="anonymous">
{% endblock %}

{% block page_title %} Remote Blast Project Details {% endblock %}

{% block infoheader %} Project Details {% endblock %}
{% block page_header %}
Details and pipeline dashboard.
{% endblock %}
{% block page_description %}
<h2> Project Details </h2>
<br>
    <h4> What to do if an error occures during Snakemake execution? </h4>
    <ul>
        <li> Monitor your current Snakemake run via Panoptes and check if the workflow has thrown an error or is still running </li>
        <li> If an error occurred during Snakemake execution you might think about deleting this project and starting a new one with different query sequences, databases or BLAST settings </li>
        <li> If your server machine lost internet connection during execution of the last Snakemake rules, just restart the execution process </li>
    </ul>

    <h4> Basic Informations </h4>
    <ul>
        <li> Click on the "Execute Snakemake" Button if you haven't started your remote BLAST analysis </li>
        <li> Monitor your current Snakemake run via Panoptes by clicking on the "Panoptes Monitoring" button </li>
        <li> If your Snakemake execution finishes you can view and download the results by clicking on the "Results Table" button which appears after successfull termination at the right side of the project information panel</li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="dashboard_project_list_col">
        <div class="table-responsive">
            <table class="table table-hover" id="blastProjectTable">
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Database</th>
                        <th>Timestamp</th>
                        {% if OneWayRemoteBlastProject.r_entrez_query %}
                        <th>Entrez Query (Optional)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    <tr>
                        <td>{{OneWayRemoteBlastProject.r_project_title}}</td>
                        <td>{{OneWayRemoteBlastProject.r_project_database}}</td>
                        <td>{{OneWayRemoteBlastProject.r_timestamp |date:'d.m.Y, h:m:s'}}</td>
                        {% if OneWayRemoteBlastProject.r_entrez_query %}
                        <td>{{OneWayRemoteBlastProject.r_entrez_query}}</td>
                        {% endif %}

                        <td>
                            <form class="col"
                                   action="{% url 'one_way_remote_project_deletion' project_id=OneWayRemoteBlastProject.id%}"
                                   method="GET">
                                {% csrf_token %}
                                <input type="submit" value="Delete Blast Project" class="btn btn-danger">
                            </form>
                        </td>
                        <td>
                            <form class="col"
                                   action="{% url 'one_way_remote_project_execution' project_id=OneWayRemoteBlastProject.id %}"
                                   method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Execute Snakemake" class="btn btn-dark">
                            </form>
                        </td>
                        {% if OneWayRemoteBlastProject.r_project_execution_task_result %}
                            <td><a class="btn btn-primary" href="http://127.0.0.1:5000/workflows/"> PANOPTES MONITORING </a></td>
                        {% endif %}
                        {% if OneWayRemoteBlastProject.r_project_execution_task_result.status == 'SUCCESS' %}
                            <td><a class="btn btn-dark" href="{% url 'one_way_html_results' project_id=OneWayRemoteBlastProject.id remote=1%}"> Results Table </a></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard_project_list_col" id="QUERY_INFO" style="overflow-x: scroll;overflow-y: scroll">
    </div>
    {% if OneWayRemoteBlastProject.r_project_execution_task_result.status == 'SUCCESS' %}
    <div class="dashboard_project_list_col" style="max-height: 50%;">
            {% include GenusPlotTemplate %}
    </div>

    {% endif %}

</div>
{% endblock %}


{% block scripts %}
{%  load static %}
<script src="{% static 'javascript/load_ajax_table.js' %}"></script>
<script>
    $(document).ready(function(){
        {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            var query_info = document.getElementById('QUERY_INFO');

            var data=this.responseText;
            var jsonResponse = JSON.parse(data);



            var elementList =createElementListForTable(jsonResponse)

            var table = buildHtmlTable(elementList);
            table.className = 'table table-hover';
            query_info.appendChild(table)
            }
        };
        xhttp.open("GET", "{% url 'ajax_one_way_wp_to_links' project_id=OneWayRemoteBlastProject.id remote=1 %}", true);
        xhttp.send();
        }
    });
</script>
{% endblock %}