{% extends "base.html" %}

{% block title %} RecBlast Project Details {% endblock %}


{% block page_title %} Remote Blast Project Details {% endblock %}

{% block infoheader %} Project Details {% endblock %}
{% block page_header %}
Details and pipeline dashboard.
{% endblock %}
{% block page_description %}
<h2> Project Details </h2>
<br>
    <h4> What to do if an error occures during Snakemake execution? </h4>
    <ul>
        <li> Monitor your current Snakemake run via Panoptes and check if the workflow has thrown an error or is still running </li>
        <li> If an error occurred during Snakemake execution you might think about deleting this project and starting a new one with different query sequences, databases or BLAST settings </li>
        <li> If your server machine lost internet connection during execution of the last Snakemake rules, just restart the execution process </li>
    </ul>

    <h4> Basic Informations </h4>
    <ul>
        <li> Click on the "Execute Snakemake" Button if you haven't started your remote BLAST analysis </li>
        <li> Monitor your current Snakemake run via Panoptes by clicking on the "Panoptes Monitoring" button </li>
        <li> If your Snakemake execution finishes you can view and download the results by clicking on the "Results Table" button which appears after successfull termination at the right side of the project information panel</li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="dashboard_project_list_col">
        <h2 style="text-align: center"> Project Details and Execution Dashboard </h2>
        <p style="font-size: medium; text-align: center">
            {% if BlastProject.project_execution_task_result.status == 'SUCCESS' %}
                Your BLAST Project finished successfully, check the result table and the genus graph for evaluating your results.
            {% elif BlastProject.project_execution_task_result.status == 'FAILURE' %}
                Re-Execute your Snakemake Run for this BLAST project or delete the project.
            {% elif BlastProject.project_execution_task_result.status == 'PROGRESS' %}
                Your BLAST analysis is still in progress, monitor your current Snakemake Run via Panoptes.
            {% else %}
                Execute your BLAST project by pressing the Execute Snakemake button.
            {% endif %}
        <div class="table-responsive">
            <table class="table table-hover" id="blastProjectTable">
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Database</th>
                        <th>Timestamp</th>
                        {% if OneWayRemoteBlastProject.r_entrez_query %}
                        <th>Entrez Query (Optional)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    <tr>
                        <td>{{OneWayRemoteBlastProject.r_project_title}}</td>
                        <td>{{OneWayRemoteBlastProject.r_project_database}}</td>
                        <td>{{OneWayRemoteBlastProject.r_timestamp |date:'d.m.Y, h:m:s'}}</td>
                        {% if OneWayRemoteBlastProject.r_entrez_query %}
                        <td>{{OneWayRemoteBlastProject.r_entrez_query}}</td>
                        {% endif %}

                        <td>
                            <form class="col"
                                   action="{% url 'one_way_remote_project_deletion' project_id=OneWayRemoteBlastProject.id%}"
                                   method="GET">
                                {% csrf_token %}
                                <input type="submit" value="Delete Blast Project" class="btn btn-danger">
                            </form>
                        </td>
                        <td>
                            <form class="col"
                                   action="{% url 'one_way_remote_project_execution' project_id=OneWayRemoteBlastProject.id %}"
                                   method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Execute Snakemake" class="btn btn-dark">
                            </form>
                        </td>
                        {% if OneWayRemoteBlastProject.r_project_execution_task_result %}
                            <td><a class="btn btn-primary" href="http://127.0.0.1:5000/workflows/"> PANOPTES MONITORING </a></td>
                        {% endif %}
                        {% if OneWayRemoteBlastProject.r_project_execution_task_result.status == 'SUCCESS' %}
                            <td><a class="btn btn-dark" href="{% url 'one_way_html_results' project_id=OneWayRemoteBlastProject.id remote=1%}"> Results Table </a></td>
                        {% endif %}

                        <td>
                            <a class="btn btn-dark" href="{% url 'one_way_target_sequence_download' project_id=OneWayRemoteBlastProject.id project_type='remote_searches' filename=OneWayRemoteBlastProject.r_project_query_sequences %}"> Download Query Fasta Files </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard_project_list_col" id="QUERY_INFO">
    </div>
    {% if OneWayRemoteBlastProject.r_project_execution_task_result.status == 'SUCCESS' %}
    <div class="dashboard_project_list_col" style="max-height: 50%;">
            {% include GenusPlotTemplate %}
    </div>

    {% endif %}

</div>
{% endblock %}


{% block scripts %}
{%  load static %}
<script src="{% static 'javascript/load_ajax_table.js' %}"></script>
<script>
$(document).ready(function(){
        {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var intermediate = document.getElementById('intermediate')
                intermediate.remove()

                var query_info = document.getElementById('QUERY_INFO');
                var data=this.responseText;
                var jsonResponse = JSON.parse(data);
                var elementList =createElementListForTable(jsonResponse) //load_ajax_table.js
                var table = buildHtmlTable(elementList); //load_ajax_table.js
                table.className = 'table table-hover';
                query_info.appendChild(table)
            } else if (this.readyState == 4 && this.status != 200) {
                var intermediate = document.getElementById('intermediate')
                intermediate.remove()

                var query_info = document.getElementById('QUERY_INFO');
                var error_div = document.createElement("div");
                var error_p = document.createElement("p");
                error_div.setAttribute("class","alert alert-warning");
                var error_text = document.createTextNode("There is no information of your provided sequences available!")
                error_p.appendChild(error_text)
                error_div.appendChild(error_p)
                query_info.appendChild(error_div)

            } else if (this.readyState == 1){
                var info = document.getElementById('QUERY_INFO');
                var info_div = document.createElement("div");
                var info_p = document.createElement("p");
                info_div.setAttribute("class","alert alert-primary");
                info_div.setAttribute("id","intermediate")
                var info_text = document.createTextNode("The server still processes your target sequences.")
                info_p.appendChild(info_text)
                info_div.appendChild(info_p)
                info.appendChild(info_div)
            }
        };
        xhttp.open("GET", "{% url 'ajax_one_way_wp_to_links' project_id=OneWayRemoteBlastProject.id remote=1 %}", true);
        xhttp.send();
    }
});
</script>
{% endblock %}