{% extends "base.html" %}

{% block title %} CDD Domain Search Details {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} CDD Domain Search Details {% endblock %}

{% block page_description %}
{% endblock %}

{% block page_header %}
<div style="overflow-x: hidden; text-align: center;">
    CDD Domain Search Details
    <br>
    <p style="text-align: center;font-size: small"> Monitor your CDD Domain search results for {{query_id}}, {{ request.user }}!</p>

    <a class="btn btn-danger" href="{% url 'delete_cdd_domain_search' project_id=project_id query_id=query_id %}"> Delete CDD Search for: {{ query_id }}</a>

</div>
{% endblock %}

{% block content %}
    <div class="dashboard_project_list_col">
        {% include CDDSearchPCABokehPlot %}


    </div>

{% endblock %}
{% block scripts %}
{% endblock %}