{% extends "base.html" %}

{% block title %} CDD Domain Search Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} CDD Domain Search Dashboard {% endblock %}

{% block page_description %}
{% endblock %}

{% block page_header %}
    <div style="overflow-x: hidden; text-align: center;">
        CDD Domain Search Dashboard
        <br>
        <p style="text-align: center;font-size: small"> Monitor your CDD Domain searches, {{ request.user }}!</p>

    </div>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {% if query_task_dict.items|length > 0 %}
    <div class="dashboard_project_list_col" style="overflow-x: hidden;justify-content: center;text-align: left;">
            <h3 class="col_header" style="text-align: center"> CDD - Domain Search Task Overview </h3>
            <p style="text-align: center;font-size: small"> Monitor your CDD Domain Searches </p>

            <div class="row justify-content-md-center">
                <div class="col-md">
                    <a class="btn btn-dark" target="_blank" href="{% url 'rpsbproc_domains_view' project_id=project_id remote_or_local=remote_or_local %}"> View Query Domains </a>
                </div>

                <div class="col-md">
                    <a class="btn btn-dark" target="_blank" href="{% url 'rpsbproc_sites_view' project_id=project_id remote_or_local=remote_or_local %}"> View Query Sites </a>
                </div>

                <div class="col-md">
                    <a class="btn btn-dark" target="_blank" href="{% url 'all_cdds_view' project_id=project_id remote_or_local=remote_or_local %}"> View Query CDDs </a>
                </div>

            </div>
            <hr>
            {% for query, status in query_task_dict.items %}
            <div class="row justify-content-md-center">

                {% if status.0 == 'NOTEXEC' %}

                    {% if status.1 == 'not valid' %}

                        <div class="col-md" style="padding: 10px">
                            <a class="btn btn-warning disabled"
                               href="{% url 'execute_cdd_domain_search' project_id=project_id remote_or_local=remote_or_local %}">There are not enough CDs for {{ query }}.</a>
                        </div>

                    {% else %}
                        <div class="col-md" style="padding: 10px">
                             <p class="btn btn-light disabled"> CDD search for: {{ query }} not executed.</p>
                        </div>
                    {% endif %}

                {% elif status.0 == 'SUCCESS' %}
                    <div class="col-md">
                        <a class="btn btn-info" id="cdd_success"
                           href="{% url 'cdd_domain_search_details' project_id=project_id query_id=query remote_or_local=remote_or_local %}">View Results
                            for: {{ query }}</a>
                    </div>
                    <div class="col-md">
                         <a class="btn btn-danger"
                           href="{% url 'delete_cdd_domain_search' project_id=project_id query_id=query remote_or_local=remote_or_local %}"> Delete CDD search
                            for: {{ query }}</a>
                    </div>

                {% elif status.0 == 'PROGRESS' %}
                        <div class="col-md">
                             <p> CDD search for: {{ query }}</p>
                        </div>
                        <div class="col-md">
                            <button class="btn btn-success" disabled>
                                <span class="spinner-grow spinner-grow-sm"></span>
                                <p><span class="progress-{{ query }}"></span></p>
                            </button>
                        </div>

                {% elif status.0 == 'FAILURE' %}
                    <div class="col-md">
                         <a class="btn btn-danger"
                           href="{% url 'delete_cdd_domain_search' project_id=project_id query_id=query remote_or_local=remote_or_local %}"> An ERROR occurred, delete CDD Search
                            for: {{ query }}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
    {% endif %}

    <div class="dashboard_project_list_col">
        <form method="post" action="{% url 'execute_cdd_domain_search' project_id=project_id remote_or_local=remote_or_local %}">
            {% csrf_token %}
            {{ rpsblast_settingsform.as_p }}
            <input type="submit" value="Submit" class="btn btn-dark">
        </form>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        {% for query, status in query_task_dict.items %}
            {% if status.0 == 'PROGRESS' %}
                (function () {
                    var status = $('.progress-{{query}}'),
                        poll = function () {
                            jQuery.ajax({
                                url: "{% url 'get_cdd_task_status_ajax_call' project_id=project_id query_id=query remote_or_local=remote_or_local  %}",
                                dataType: 'json',
                                type: 'get',
                                success: function (data) { // check if available

                                    if (data.data) { // get and check data value
                                        status.text(data.data.progress); // get and print data string
                                        console.log(data)
                                        if (data.data.progress == "SUCCESS") {
                                            status.text("DONE - refresh the page")
                                            clearInterval(pollInterval); // optional: stop poll function
                                        } else if (data.data.progress != "PROGRESS") {
                                            status.text(data.data.current + "%")
                                        }

                                    }
                                },
                                error: function () { // error logging
                                    status.text("error polling progress data")
                                }
                            });
                        },
                        pollInterval = setInterval(function () { // run function every 5000 ms
                            poll();
                        }, 5000);
                    poll(); // also run function on init
                })();
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}