{% extends "base.html" %}

{% block title %} Entrez Search Platform {% endblock %}

{% block page_title %}  {% endblock %}

{% block infoheader %} Entrez Search {% endblock %}

{% block page_header %}
    Entrez Search Dashboard
  <p style="text-align: center;font-size: small"> Execute searches on different NCBI Databses, {{ request.user }}!</p>
{% endblock %}

{% block page_description %}
<h2> Entrez Searches with different databases </h2>
<br>
    <h4> Protein </h4>
    <ul>
        <li> Search within NCBIs protein databases </li>
    </ul>

    <h4> Pubmed </h4>
    <ul>
        <li> Search pubmed articles </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="dashboard_project_list_col" style="overflow-x: hidden;justify-content: center;text-align: left;">
        <form id="entrez_form" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                 <div class="form-group col-sm-4" style="margin: 20px">
                    <label for="entrez_query"> Enter a search query </label>
                    <input type="text" class="form-control" id="entrez_query" name="entrez_query">
                    {% if EntrezSearchForm.entrez_query.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ EntrezSearchForm.entrez_query.errors }}</strong>
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-sm-4" style="margin: 20px">
                    <label for="database">Select a BLAST Database </label>
                    <select class="form-control" id="database" name="database">
                        {% for database in EntrezSearchForm.database %}
                            {{database}}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-dark" style="margin: 20px">
        </form>
    </div>


    <div class="dashboard_project_list_col">
                <h3 class="col_header" style="text-align: center">Current EDirect Search Results</h3>
              <p style="font-size: medium; text-align: center">Perform BLAST similarity searches on NCBI Server</p>
        <hr>
            <div class="table-responsive">
                 <table class="main_table table table-hover">

                     <tr>
                         <th> Database </th>
                         <th> Esearch Query </th>
                         <th> Timestamp </th>
                         <th> Task Status </th>
                         <th> Link to Result-Table </th>
                         <th> Delete Query </th>
                     </tr>

                     {% for search in EntrezSearches %}
                     <tr>
                         <td> {{ search.database }}</td>
                         <td> {{ search.entrez_query }} </td>
                         <td>{{ search.timestamp|date:'d.m.Y, h:m:s' }}</td>

                         <td> {{ search.search_task_result.status }} </td>

                         {% if search.search_task_result.status == 'SUCCESS' %}
                         <td>
                             <a href="{% url 'search_details' search_id=search.id %}">
                                 <button class="btn btn-dark">
                                     Result-Table
                                 </button>
                             </a>
                         </td>
                         <td>
                             <a href="{% url 'search_delete' search_id=search.id %}">
                                 <button class="btn btn-danger">
                                     Delete-Search
                                 </button>
                             </a>
                         </td>
                         {% endif %}

                     {% if search.search_task_result.status == 'FAILURE' %}
                         <td>There are no results for this search.</td>
                         <td>
                             <a href="{% url 'search_delete' search_id=search.id %}">
                                 <button class="btn btn-danger">
                                     Delete-Search
                                 </button>
                             </a>
                         </td>
                         {% endif %}
                     </tr>
                     {% endfor %}
                 </table>
            </div>
        <hr>
    </div>

{% endblock %}

