<!-- This template does not need to inherit from base.html since it is pasted into the project_details_dashboard template -->

<table style="text-align: center">
    <thead>
        <tr>
        {% for folder in qseqid_folder %}
            <th> {{ folder }} </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
         {% for folder in qseqid_folder %}
             <td>
                <form class="col"
                       action='{% url 'perform_simple_msa' project_id=project_id folder_path=folder %}'
                       method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Conduct Multiple Sequence Alignment" class="btn btn-danger">
                </form>
             </td>
        {% endfor %}
        </tr>
    </tbody>
</table>
