{% extends "base.html" %}

{% block title %} RecBlast Project Details {% endblock %}

{% block page_title %} External Tools Dashboard {% endblock %}

{% block infoheader %} External Tools {% endblock %}

{% block page_description %}
    <h2> External Tools </h2>
    <br>
    <h4> Multiple Sequence Alignment with MAFFT </h4>
    <ul>
        <li> MAFFT can be used for conducting a multiple sequence alignment with all orthologous sequences</li>
    </ul>

    <h4> Phylogenetic Tree inference with FastTree </h4>
    <ul>
        <li> FastTree can be used directly after MAFFT for the inference of ml phylogenetic trees</li>
    </ul>
{% endblock %}

{% block page_header %}
    <div class="container-fluid">
        MSA and Phylogenetic Inference
        <p style="text-align: center;font-size: small"> Execute Multiple Sequence Alignments with mafft and phylogenetic
            tree inference with fasttree, {{ request.user }}!</p>
    </div>
{% endblock %}

{% block content %}
    <div class="dashboard_project_list_col">
        <div class="table-responsive">
            <table class="table table-hover" id="externalTools">
                <thead>
                <tr>
                    <th>Accession ID</th>
                    <th>View Tree</th>
                    <th>View Alignment</th>
                    <th>Phylogenetic Dashboard</th>
                </tr>
                </thead>
                <tbody>
                {% for qseq in qseqids.query_sequences.get_queryset %}
                    <tr>
                        <td>
                            {{ qseq.query_accession_id }} {{ qseq.query_accession_information }}
                        </td>
                        <td>
                            {% if qseq.phylogenetic_tree_construction_task and qseq.phylogenetic_tree_construction_task.status == 'SUCCESS' %}
                                {% load static %}
                                <a href="{% url 'load_phylogenetic_tree' project_id=project_id query_sequence_id=qseq.query_accession_id %}">
                                    <button class="btn btn-info">View Phylogeny</button>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if qseq.phylogenetic_tree_construction_task and qseq.phylogenetic_tree_construction_task.status == 'SUCCESS' %}
                                <a href="{% url 'load_msa' project_id=project_id query_sequence_id=qseq.query_accession_id %}">
                                    <button class="btn btn-info">View Multiple Sequence Alignment</button>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if qseq.phylogenetic_tree_construction_task and qseq.phylogenetic_tree_construction_task.status == 'SUCCESS' %}
                                <a class="btn btn-dark"
                                   href="{% url 'phylogenetic_information' project_id=project_id query_sequence_id=qseq.query_accession_id %}">
                                    Phylogenetic Information
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#externalTools').DataTable();
    });
</script>
{% endblock %}