{% extends "base.html" %}

{% block title %} SymBLAST Phylogenetic Details {% endblock %}

{% block page_title %} Phylogenetic Tools Dashboard {% endblock %}

{% block infoheader %} Phylogenetic Tools {% endblock %}

{% block page_description %}
    <h2> Phylogenetic Tools </h2>
{% endblock %}

{% block page_header %}
    <div class="container-fluid">
        Phylogenetic Tree and other Information
        <p style="text-align: center;font-size: small"> See and download your Phylogenetic Trees and other cool
            stuff, {{ request.user }}!</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <p> Refine Your Phylogenetic Analysis </p>
    </div>

{% endblock %}