{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard_project_list_col">
        <h2 style="text-align: center; font-family: 'Courier New'"> <b> Entrez Search Details </b> </h2>
        {% if DownloadProteins %}
            <a href="{% url 'download_protein_accessions' search_id=EntrezSearch.id %}">
                <button class="btn btn-dark"  style="position: absolute;top: 10px; right: 10px;">Download Associated Protein Accessions</button>
            </a>
        {% endif %}
        {% if DownloadTaskSuccess == True %}
            <a href="{% url 'view_downloaded_sequences' search_id=EntrezSearch.id %}">
                <button class="btn btn-dark"  style="position: absolute;top: 10px; right: 10px;">View Downloaded Sequences</button>
            </a>
        {% elif DownloadTaskSuccess == False %}
            <a href="{% url 'download_protein_accessions' search_id=EntrezSearch.id %}">
                <button class="btn btn-dark"  style="position: absolute;top: 10px; right: 10px;">Error in previous download, try it again!</button>
            </a>
        {% endif %}
    </div>
    <div class="dashboard_project_list_col">
        {{ HtmlTable | safe }}
    </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#searchResultTable').DataTable({
        });
} );
</script>
{% endblock %}