{% extends "base.html" %}

{% block title %}
    Calculate Synteny
{% endblock %}


{% block page_title %} Calculate Synteny {% endblock %}
{% block infoheader %} Calculate Synteny {% endblock %}

{% block header %}
{% endblock %}

{% block page_description %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="dashboard_project_list_col">
            <h2 style="text-align: center; font-family: 'Courier New'">
                <b> Synteny Calculation Dashboard for {{ query_sequence }}</b>
            </h2>
        </div>

    </div>
    <div class="container-fluid">
        <div class="dashboard_project_list_col">
            <form action="#" method="POST" enctype="multipart/form-data" id="entriesSelected">
                {% csrf_token %}
                <table class="table table-hover" id="rbh_result_dataframe">
                    <thead>
                    <tr>
                        {% if remote_or_local == "local" %}
                            <th>Index</th>
                            <th>Subject Sequence</th>
                            <th>Query Sequence</th>
                            <th>Bitscore</th>
                            <th>Identitiy</th>
                            <th>E-Value</th>
                            <th>Length</th>
                            <th>Info</th>
                            <th>Phylum</th>
                            <th>Class</th>
                            <th>Order</th>
                            <th>Family</th>
                            <th>Genus</th>
                        {% elif remote_or_local == "remote" %}
                            <th>Index</th>
                            <th>Assembly Accession</th>
                            <th>Organism Name</th>
                            <th>Taxonomic ID</th>
                            <th>Species Taxonomic ID</th>
                            <th>Assembly Level</th>
                            <th>FTP Path</th>
                            <th>Protein</th>
                            <th>Source</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>
                </table>
            <br><br>
            <button id="button" class="btn btn-dark">Download GenBank files and calculate synteny</button>
            <br><br>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var rOrl = "{{ remote_or_local }}"
            if(rOrl === "local"){
                var tab_columns = [
                    {"data": 'index'},
                    {"data": 'sacc'},
                    {"data": 'qseqid'},
                    {"data": 'bitscore'},
                    {"data": 'pident'},
                    {"data": 'evalue'},
                    {"data": 'slen'},
                    {"data": 'query_info'},
                    {"data": 'phylum'},
                    {"data": 'class'},
                    {"data": 'order'},
                    {"data": 'family'},
                    {"data": 'genus'}]
            } else {
                  var tab_columns = [
                    {"data": 'index'},
                    {"data": 'assembly_accession'},
                    {"data": 'organism_name'},
                    {"data": 'taxid'},
                    {"data": 'species_taxid'},
                    {"data": 'assembly_level'},
                    {"data": 'ftp_path'},
                    {"data": 'protein'},
                    {"data": 'source'}]
            }

            var table = $('#rbh_result_dataframe').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy',
                    'csv',
                    'selectAll',
                    'selectNone',
                    'selectRows'
                ],
                select: {
                    style: 'multi'
                },
                "ajax": {
                    "url": "{% url 'ajax_call_for_synteny_calculation_selector_table' project_id=project_id remote_or_local=remote_or_local query_sequence=query_sequence %}",
                    "type": "GET",
                    "dataSrc": "data",
                },
                "columns": tab_columns,
                "deferRender": true
            });

            $('#rbh_result_dataframe tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#button').click(function (e) {
                e.preventDefault();
                var selected_rows_length = table.rows('.selected').data().length;
                if(selected_rows_length > 10){
                    alert("The maximum number of RBH selection should not exceed 10 entries!");
                    return 1;
                } else if (selected_rows_length <= 1){
                    alert("Please select more than one target sequence for synteny analysis!");
                    return 1;
                } else {
                    if(confirm("Please confirm for downloading genbank files and calculating synteny plot.")){
                        var objects = table.rows('.selected').data();
                        var jsonArr = {};
                        if(rOrl === "local"){
                            for (var i = 0; i < selected_rows_length; i++) {
                                jsonArr[objects[i].index] = objects[i].sacc;
                            }
                        } else {
                            for (var i = 0; i < selected_rows_length; i++) {
                                jsonArr[objects[i].index] = objects[i].protein;
                            }
                        }

                        $.ajax({
                            type: "POST",
                            url: "{% url 'calculate_synteny_form_submit_ajax' project_id=project_id query_sequence=query_sequence remote_or_local=remote_or_local %}",
                            data: jsonArr,
                            success: function (data){
                                if (data.response === 'success'){
                                    alert("Genbank files will be downloaded prior to synteny plot creation, this may take a while.\n" +
                                        "Check the task progress in the synteny dashboard.")
                                    window.location = "{% url 'synteny_dashboard' project_id=project_id remote_or_local=remote_or_local %}";
                                }
                            },
                          });
                    }
                }
            });
        });
    </script>
{% endblock %}