{% extends "base.html" %}

{% block title %} Synteny Detection Dashboard {% endblock %}

{% block page_title %}  {% endblock %}

{% block infoheader %} Synteny Inference {% endblock %}

{% block header %}
{% endblock %}
{% block page_description %}
    <h2> Synteny Detection Dashboard </h2>
{% endblock %}
{% block content %}

    <div class="dashboard_project_list_col">
        <h2 style="text-align: center; font-family: 'Courier New'"> <b> Synteny Detection Dashboard </b></h2>
        <p style="text-align: center;font-size: small"> Download GenBank
            files for selected RBHs and search for syntenic regions.</p>
    </div>

    <div class="dashboard_project_list_col">
        <div class="table-responsive">
            <table class="table table-hover" id="externalTools">
                <thead>
                <tr>
                    <th>Accession ID</th>
                    <th>Calculate Synteny</th>
                    <th>View Synteny</th>
                    {% if qseq.check_if_synteny_calculation_task_is_complete == 'SUCCESS' or qseq.check_if_synteny_calculation_task_is_complete == "FAILURE" %}
                        <th>Delete Synteny</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for qseq in qseqids.query_sequences.get_queryset %}
                    <tr>
                        <td>
                            {{ qseq.query_accession_id }} {{ qseq.query_accession_information }}
                        </td>
                        {% if qseq.check_if_synteny_calculation_task_is_complete == 'SUCCESS' %}

                            <td>
                               <a class="btn btn-dark" href="{% url 'synteny_calculation_dashboard_view' project_id=project_id remote_or_local=remote_or_local query_sequence=qseq.query_accession_id %}">
                                   Calculate Synteny
                                </a>
                            </td>
                            <td>
                              <a class="btn btn-dark" rel="noreferrer noopener" target="_blank" href="{% url 'load_synteny' project_id=project_id remote_or_local=remote_or_local query_sequence_id=qseq.query_accession_id %}">
                                   View Synteny
                                </a>
                            </td>
                            <td>
                              <a class="btn btn-danger" rel="noreferrer noopener" target="_blank" href="{% url 'delete_synteny' project_id=project_id remote_or_local=remote_or_local query_sequence_id=qseq.query_accession_id %}">
                                   Delete Synteny
                                </a>
                            </td>
                        {% elif qseq.check_if_synteny_calculation_task_is_complete == 'PROGRESS' %}
                            <td>
                                <button class="btn btn-dark disabled" id='synteny-calculation-progress-{{ qseq.query_accession_id }}' style="display: block">
                                  <span class="spinner-grow spinner-grow-sm">
                                </span>
                                    Progress
                                </button>
                               <a class="btn btn-dark" style="display: none;" id='synteny-calculation-button-{{ qseq.query_accession_id }}'
                                  href="{% url 'synteny_calculation_dashboard_view' project_id=project_id remote_or_local=remote_or_local query_sequence=qseq.query_accession_id %}">
                                   Calculate Synteny
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-dark disabled" id='synteny-view-button-disabled-{{ qseq.query_accession_id }}'
                                   href="{% url 'load_synteny' project_id=project_id query_sequence_id=qseq.query_accession_id remote_or_local=remote_or_local %}" style="display: block">
                                   View Synteny
                                </a>
                                <a class="btn btn-dark" id='synteny-view-button-{{ qseq.query_accession_id }}'
                                   href="{% url 'load_synteny' project_id=project_id query_sequence_id=qseq.query_accession_id remote_or_local=remote_or_local %}" style="display: none">
                                   View Synteny
                                </a>
                            </td>
                        {% elif qseq.check_if_synteny_calculation_task_is_complete == 'FAILURE' %}
                            <td>
                               <a class="btn btn-dark" href="{% url 'synteny_calculation_dashboard_view' project_id=project_id remote_or_local=remote_or_local query_sequence=qseq.query_accession_id %}">
                                   Calculate Synteny
                                </a>
                            </td>
                            <td>
                              <a class="btn btn-dark disabled" rel="noreferrer noopener" target="_blank" href="{% url 'load_synteny' project_id=project_id remote_or_local=remote_or_local query_sequence_id=qseq.query_accession_id %}">
                                   View Synteny
                                </a>
                            </td>
                            <td>
                              <a class="btn btn-danger" rel="noreferrer noopener" target="_blank" href="{% url 'delete_synteny' project_id=project_id remote_or_local=remote_or_local query_sequence_id=qseq.query_accession_id %}">
                                   Delete Synteny
                                </a>
                            </td>
                        {% else %}
                            <td>
                               <a class="btn btn-dark" href="{% url 'synteny_calculation_dashboard_view' project_id=project_id query_sequence=qseq.query_accession_id remote_or_local=remote_or_local %}">
                                   Calculate Synteny
                                </a>
                            </td>
                            <td>
                              <a class="btn btn-dark disabled" href="{% url 'load_synteny' project_id=project_id query_sequence_id=qseq.query_accession_id remote_or_local=remote_or_local %}">
                                   View Synteny
                                </a>
                            </td>
                            <td>
                              <a class="btn btn-danger disabled" rel="noreferrer noopener" target="_blank" href="{% url 'delete_synteny' project_id=project_id remote_or_local=remote_or_local query_sequence_id=qseq.query_accession_id %}">
                                   Delete Synteny
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#synteny_dashboard').DataTable();
    });
</script>

    {% for qseq in qseqids.query_sequences.get_queryset %}
        {% if qseq.check_if_synteny_calculation_task_is_complete == 'PROGRESS' %}
            <script>
                (function () {
                    var synteny_view_button_disabled =  document.getElementById('synteny-view-button-disabled-{{ qseq.query_accession_id }}');
                    var synteny_view_button = document.getElementById('synteny-view-button-{{ qseq.query_accession_id }}');
                    var synteny_calculation_disabled = document.getElementById('synteny-calculation-progress-{{ qseq.query_accession_id }}');
                    var synteny_calculation = document.getElementById('synteny-calculation-button-{{ qseq.query_accession_id }}');
                    poll = function () {
                        jQuery.ajax({
                            url: "{% url 'ajax_synteny_progress' project_id=project_id remote_or_local=remote_or_local query_sequence=qseq.query_accession_id %}",
                            dataType: 'json',
                            type: 'get',
                            success: function (data) { // check if available
                                if (data) { // get and check data value
                                    console.log(data.data)
                                    if (data.data == "SUCCESS") {
                                        synteny_view_button_disabled.style = "display: none;";
                                        synteny_view_button.style = "display: block;";
                                        synteny_calculation_disabled.style = "display: none;";
                                        synteny_calculation.style = "display: block;";
                                        clearInterval(pollInterval); // optional: stop poll function
                                    } else if (data.data == "ERROR") {
                                        synteny_view_button_disabled.textContent = "ERROR";
                                        synteny_calculation_disabled.style = "display: none;";
                                        synteny_calculation.style = "display: block;";
                                        clearInterval(pollInterval);
                                    }

                                }
                            },
                            error: function () { // error logging
                                synteny_view_button_disabled.textContent = "AJAX CALL FAILURE";
                            }
                        });
                    },
                    pollInterval = setInterval(function () { // run function every 5000 ms
                        poll();
                    }, 5000);
                poll(); // also run function on init
            })();
            </script>
        {% endif %}
    {% endfor %}

{% endblock %}