{% extends "base.html" %}

{% block title %} BLAST Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} BLAST Project Dashboard {% endblock %}

{% block page_description %}
    You are logged in as: <strong>{{request.user}}</strong>.<br>
    This dashboard lists all available local databases, remote one way BLAST, local one way BLAST and
    reciprocal BLAST projects for {{request.user}}.
    Monitor and execute your current projects or view your results on the
    <strong>Project Details </strong> pages. Manage and view available local databases by pressing the <strong>Database Details</strong>
    button.
    If you want to create a completely new project or upload custom proteoms for BLAST databases creation, take a look at the navigation bar
    at the top of this page.
    <br>
    <h2> Content of this Web-Tool </h2>
    <ul>
        <li> <a href="{% url 'project_creation' %}">  Reciprocal BLAST pipeline project creation </a></li>
        <li> <a href="{% url 'one_way_project_creation' %}"> One-way BLAST project creation </a></li>
        <ul>
            <li> based on remotely available NCBI-Databases </li>
            <li> based on locally downloaded or uploaded BLAST databases </li>
        </ul>
        <li> BLAST Database creation</li>
        <ul>
            <li> <a href="{% url 'refseq_transactions_dashboard' %}"> based on remotely available NCBI-Databases </a></li>
            <li> <a href="{% url 'upload_genomes'  %}"> based on locally downloaded or uploaded BLAST databases </a></li>
        </ul>
        <li> <a href="{% url 'species_taxids' %}"> Create files with taxonomic nodes for limiting your BLAST databases by taxonomic informations </a></li>
    </ul>
{% endblock %}

{% block page_header %}
<div style="overflow-x: hidden; text-align: center;">
    SymBLAST Dashboard
    <br>
    <p style="text-align: center;font-size: small"> Manage your BLAST projects and create new projects, {{ request.user }}!</p>
    <div class="row" style="text-align:center;justify-content: center;">
        <div>
            <a  href="{% url 'project_creation' %}">
                <button class="btn btn-dark" style="height: 80px;width: 130px; margin-right: 5px">SymBLAST Project</button>
            </a>
        </div>
        <div>
            <a href="{% url 'upload_genomes' %}">
                <button class="btn btn-dark" style="height: 80px;width: 130px;margin-left: 5px">Upload Custom Proetoms</button>
            </a>
        </div>
    </div>
    <div class="row" style="text-align:center;justify-content: center;margin-top: 5px">
         <div>
            <a href="{% url 'one_way_project_creation' %}">
                <button class="btn btn-dark" style="height: 80px;width: 130px;margin: 5px">One-Way-BLAST Project</button>
            </a>
         </div>
        <div>
            <a  href="{% url 'refseq_transactions_dashboard' %}">
                <button class="btn btn-dark" style="height: 80px;width: 130px;margin: 5px">Download Refseq Proteoms</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row" style="text-align: center;">
          <div class="col-sm dashboard_project_list_col" style="height: 600px;">

                <h3 class="col_header"> Reciprocal BLAST Projects </h3>
              <p style="font-size: medium">Identification of RBHs (putative orthologous sequences)</p>
               {% include "blast_project/table_blast_projects.html" %}
            </div>

            <div class="col-sm dashboard_project_list_col" style="height: 600px">
                <h3 class="col_header">Remote BLAST Projects</h3>
              <p style="font-size: medium">Perform BLAST similarity searches on the NCBI Server</p>

                {% include "blast_project/table_one_way_remote_blast_projects.html" %}
            </div>
    </div>
    <div class="row"  style="text-align: center;">
            <div class="col-sm dashboard_project_list_col" style="height: 600px">
                <h3 class="col_header">Local Databases</h3>
              <p style="font-size: medium">Custom databases for SymBLAST</p>

                {% include "blast_project/table_downloaded_and_formatted_blast_databases.html" %}

            </div>
            <div class="col-sm dashboard_project_list_col" style="height: 600px">
                <h3 class="col_header">Local BLAST Projects</h3>
              <p style="font-size: medium">Perform BLAST similarity searches with local databases</p>

                {% include "blast_project/table_one_way_blast_projects.html" %}
            </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#blastProjectTable').DataTable();
        $('#oneWayBLASTProjectTable').DataTable();
        $('#oneWayRemoteBlastProjectTable').DataTable();
        $('#activeDatabasesTable').DataTable();
    });
</script>
{% endblock %}

