{% extends "base.html" %}

{% block title %} BLAST Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} BLAST Project Dashboard {% endblock %}

{% block page_description %}
    You are logged in as: <strong>{{request.user}}</strong>.<br>
    This dashboard lists all available local databases, remote one way BLAST, local one way BLAST and
    reciprocal BLAST projects for {{request.user}}.
    Monitor and execute your current projects or view your results on the
    <strong>Project Details </strong> pages. Manage and view available local databases by pressing the <strong>Database Details</strong>
    button.
    If you want to create a completely new project or upload custom proteoms for BLAST databases creation, take a look at the navigation bar
    at the top of this page.
    <br>
    <h2> Content of this Web-Tool </h2>
    <ul>
        <li> <a href="{% url 'project_creation' %}">  Reciprocal BLAST pipeline project creation </a></li>
        <li> <a href="{% url 'one_way_project_creation' %}"> One-way BLAST project creation </a></li>
        <ul>
            <li> based on remotely available NCBI-Databases </li>
            <li> based on locally downloaded or uploaded BLAST databases </li>
        </ul>
        <li> BLAST Database creation</li>
        <ul>
            <li> <a href="{% url 'refseq_transactions_dashboard' %}"> based on remotely available NCBI-Databases </a></li>
            <li> <a href="{% url 'upload_genomes'  %}"> based on locally downloaded or uploaded protein fasta files </a></li>
        </ul>
        <li> <a href="{% url 'species_taxids' %}"> Create files with taxonomic nodes for limiting your BLAST databases by taxonomic information </a></li>
    </ul>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% if domain_database.domain_database_loaded == False or domain_database.domain_database_download_task_result != "SUCCESS" %}
    {% if domain_database.domain_database_download_task_result %}
        {% if domain_database.domain_database_download_task_result.status == "PROGRESS" %}
            <button class="btn btn-dark" disabled>
                <span class="spinner-grow spinner-grow-sm"></span>
                <p><span class="domain_database_download_progress"></span></p>
            </button>
        {% elif domain_database.domain_database_download_task_result.status == "FAILURE" %}
            <form class="col"
                   action="{% url "delete_domain_database" %}"
                   method="POST">
                {% csrf_token %}
                <input type="submit" value="Download Failed: Delete Domain Database" class="btn btn-danger">
            </form>
        {% endif %}
    {% else %}
        <div class="container-fluid" id="project_dashboard">
            {% include "blast_project/form_download_domain_database.html" %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    (function () {
        var status = $('.domain_database_download_progress'),
            poll = function () {
                jQuery.ajax({
                    url: "{% url 'domain_database_download_status' %}",
                    dataType: 'json',
                    type: 'get',
                    success: function (data) { // check if available
                        if (data) { // get and check data value
                            status.text(data.progress_status); // get and print data string
                            if (data.progress_status == "SUCCESS") {
                                status.text("DONE");
                                clearInterval(pollInterval); // optional: stop poll function
                            } else if (data.progress_status == "FAILURE") {
                                status.text("ERROR");
                                clearInterval(pollInterval);
                            }

                        }
                    },
                    error: function () { // error logging
                        status.text("error polling progress data")
                    }
                });
            },
            pollInterval = setInterval(function () { // run function every 5000 ms
                poll();
            }, 5000);
        poll(); // also run function on init
    })();
</script>
{% endblock %}

