{% extends "base.html" %}


{% block title %} Create Taxonomic Files {% endblock %}

<!-- omit header section h1 h2 -->
{% block header %}
{% endblock %}
{% block infoheader %} Create Taxonomic Files {% endblock %}
{% block page_description %}
Create a taxonomic nodes file by utilization of the get_species_taxids.sh script from the NCBI E-Direct tool suite.
{% endblock %}

{% block content %}
    <hr>
    <!-- post form input fields: species_name and user_email -->
    <div class="container-fluid" id="post_form_container">
        <form method="post" onsubmit="showLoader('loading_div','post_form_container')">
            {% csrf_token %}
            <div class="form-group">
                <label for="species_names"> Organism Names </label>
                <input type="text" class="form-control" id="species_names" name="species_names">
                {% if taxform.species_names.errors %}
                    <div class="alert alert-danger">
                        <strong>{{taxform.species_names.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="filename"> Filename </label>
                <input type="text" class="form-control" id="filename" name="filename">
                {% if taxform.filename.errors %}
                    <div class="alert alert-danger">
                        <strong>{{taxform.filename.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <!-- if the user shouldn't be allowed to alter the email adress simplay add: style="display: none" to the next div element -->
            <div class="form-group">
                <!-- <label for="user_email"> User Email </label> -->
                <input type="hidden" class="form-control" id="user_email" name="user_email" value='{{taxform.user_email.value}}'>
                {% if taxform.user_email.errors %}
                    <div class="alert alert-danger">
                        <strong>{{taxform.user_email.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <input type = "submit" value = "Submit" class="btn btn-dark">
        </form>
    </div>

    <hr>

    <!-- list of available taxonomic node files (.taxids) -->
    <div class="container-fluid">

        <ul class="list-group">
            <li class="list-group-item" id="taxonomy-files-header"> Currently Available Taxonomic Node Files </li>
            {% for taxfile in taxid_files %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{taxfile.0}}<span class="badge badge-primary badge-pill">{{ taxfile.1 }}</span></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

