{% extends "base.html" %}


{% block title %} Create Taxonomic Files {% endblock %}

<!-- omit header section h1 h2 -->
{% block header %}
{% endblock %}
{% block infoheader %} Create Taxonomic Files {% endblock %}
{% block page_description %}
Create a taxonomic nodes file by utilization of the get_species_taxids.sh script from the NCBI E-Direct tool suite.
The created file can be used during the creation of local BLAST databases. By using the selected file, the refseq or genbank
assembly summary files will be filtered based on the taxonomic identifier.
{% endblock %}

{% block content %}
    <br>
    <!-- post form input fields: species_name and user_email -->
    <div class="container-fluid" id="post_form_container">
        <form method="post" onsubmit="showLoader('loading_div','post_form_container')">
            {% csrf_token %}
            <div class="form-group">
                <label for="species_names"> Organism Names </label>
                <input type="text" class="form-control" id="species_names" name="species_names">
                {% if taxform.species_names.errors %}
                    <div class="alert alert-danger">
                        <strong>{{taxform.species_names.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="filename"> Filename </label>
                <input type="text" class="form-control" id="filename" name="filename">
                {% if taxform.filename.errors %}
                    <div class="alert alert-danger">
                        <strong>{{taxform.filename.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <!-- if the user shouldn't be allowed to alter the email adress simplay add: style="display: none" to the next div element -->
            <div class="form-group">
                <!-- <label for="user_email"> User Email </label> -->
                <input type="hidden" class="form-control" id="user_email" name="user_email" value='{{taxform.user_email.value}}'>
                {% if taxform.user_email.errors %}
                    <div class="alert alert-danger">
                        <strong>{{taxform.user_email.errors}}</strong>
                    </div>
                {% endif %}
            </div>
            <input type = "submit" value = "Submit" class="btn btn-dark">
        </form>
    </div>

    <br>
    <hr>
    <br>
    <!-- list of available taxonomic node files (.taxids) -->
    <div class="dashboard_project_list_col">

        <div class="table-responsive">
            <table class="table table-hover" id="taxonomic_nodes_table">
                    <thead>
                        <tr>
                            <th>Taxonomic Node Filename</th>
                            <th>Download Button</th>
                           <!--  <th>Timestamp</th> -->
                            <th>Delete Button</th>
                            <th>Entries</th>
                        </tr>
                    </thead>
                    <tbody id="taxonomic_nodes_table_body">
                        {% for taxfile in taxid_files %}
                            <tr>
                                <td>{{taxfile.0}}</td>
                                <td>
                                    <button class="btn btn-info">
                                        <a href="{% url 'view_taxonomic_node_file' taxonomic_node_file=taxfile.0 %}"
                                                              style="text-decoration: none;color: black">
                                            Download File
                                        </a>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger">
                                        <a href="{% url 'delete_taxonomic_node_file' taxonomic_node_file=taxfile.0 %}"
                                                              style="text-decoration: none;color: black">
                                            Delete File
                                        </a>
                                    </button>
                                </td>
                                <td>
                                    {{ taxfile.1 }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#taxonomic_nodes_table').DataTable();
    });
</script>
{% endblock %}
