{% extends "base.html" %}

{% block title %} BLAST Database Statistics Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} BLAST Database Statistics Dashboard {% endblock %}

{% block page_description %}
    Within this dashboard, you can compare your RBHs from all query sequences to the content of the forward BLAST database.
    This enables a more precise evaluation of the abundance of your query sequences across the various taxonomic units within the databases.
    <br>
    <br>
    By pressing the <b>Interactive Graph</b> button, you can extend this dashboard with an interactive visualization of your RBHs.
    The interactive visualization is based on the python library<a target="_blank" href="https://bokeh.org/"> Bokeh </a>that provides
    various tools for interactivity. You can select specific taxonomic units from the dropdown menus on the right site of this plot, which
    will automatically update the contents of the scatter plot. You can choose color palettes (if you dont exceed the number of different taxonomies, maximum is 12),
    change the x- and y-axis to visualize the sequence length, bitscore, evalue or percent identity and by selecting the <b>Lasso-Tool</b>
    on the Bokeh menu on the right site of the plot, you can select specific RBHs directly from the plot itself. This process will also update the table, which lists
    the amount of different taxonomic units within the database and the amount of different taxonomic units as well as RBHs of the results.
    <br>
    <br>
    By pressing the <b>Download Selection</b> button CATHI prepares a .csv file for you that will directly be downloaded onto your Download folder.
    Furthermore, you can create a phylogenie with MAFFT and FastTree simply by pressing the <b>Selection Constrained Phylogeny</b> button. The
    process of the phylogenetic inference is tracked by CATHI and once it is completed the Database Statistics dashboard will be reloaded and
    you can access the phylogeny by pressing the <b>View Phylogeny</b> button.
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="dashboard_project_list_col"  style="overflow-x: hidden;justify-content: center;text-align: left;">
        <h3  class="col_header" style="text-align: center"> Database Statistics </h3>
        <p style="text-align: center;font-size: small"> Monitor Database Statistics, {{ request.user }}!</p>

        <div class="row" style="text-align:center;justify-content: center;">
            {% if task_status == 'NOTEXEC' %}
                <div>
                    <a href="{% url 'execute_database_statistics_task' project_id=project_id %}">
                        <button class="btn btn-dark" style="height: 80px;width: 130px; margin-right: 5px"> Calculate DB Statistics </button>
                    </a>
                </div>
            {% elif task_status == 'SUCCESS' %}
                <div class="col">
                    <a href="{% url 'execute_database_statistics_task' project_id=project_id %}">
                        <button class="btn btn-dark" style="height: 80px;width: 130px; margin-right: 5px"> Calculate DB Statistics </button>
                    </a>
                </div>
                 <div class="col">
                    <a href="{% url 'delete_database_statistics' project_id=project_id %}">
                        <button class="btn btn-danger" style="height: 80px;width: 130px; margin-right: 5px"> Delete DB Statistics </button>
                    </a>
                </div>
                 <div class="col">
                    <button class="btn btn-dark" onclick="displayDivElement('taxonomy_entries_in_db')" > Taxonomy Entries in DB </button>
                </div>
                 <div class="col">
                    <button class="btn btn-dark" onclick="displayDivElement('bokeh_plot')" > Interactive Graph </button>
                </div>
                 <div class="col">
                    <button class="btn btn-dark" onclick="displayDivElement('taxonomy_table')" > Taxonomy Statistics </button>
                </div>
            {% elif task_status == 'FAILURE' %}
                 <div class="col">
                    <a href="{% url 'execute_database_statistics_task' project_id=project_id %}">
                        <button class="btn btn-dark" style="height: 80px;width: 130px; margin-right: 5px"> Task failed, try to Re-Calculate DB Statistics </button>
                    </a>
                </div>
                 <div class="col">
                    <a href="{% url 'delete_database_statistics' project_id=project_id %}">
                        <button class="btn btn-danger" style="height: 80px;width: 130px; margin-right: 5px"> Delete DB Statistics </button>
                    </a>
                </div>
            {% endif %}
            {% if selection_task == 'SUCCESS' %}
            <div class="col">
                <a href="{% url 'view_selection_phylogeny' project_id=project_id remote_or_local='local' %}">
                    <button id="success_button" class="btn btn-info" style="height: 80px;width: 130px; margin-right: 5px"> View Phylogeny </button>
                </a>
            </div>

            {% elif selection_task == 'PROGRESS' %}
            <div class="col">
                 <button class="btn btn-info" disabled>
                    <span class="spinner-grow spinner-grow-sm"></span>
                    <p><span class="progress-{{ project_id }}"></span></p>
                </button>
            </div>
            {% endif %}
        </div>

    </div>
    <!-- Just Display Class Based Database Statistic Result Dataframe-->
    {%  if task_status == 'SUCCESS' %}
    <div class="dashboard_project_list_col" id="taxonomy_entries_in_db" style="text-align: center;display:none">
        <div style="text-align: center">
            <h3 class="col_header"> Number of entries of different taxonomic units</h3>
            <p style="font-size: medium"> Total number of entries of the relevant taxonomic units in the forward Database
                of this project vs relative number of taxonomic units of the RBHs </p>
            <hr>
        </div>
        <table class="table table-responsive table-hover" style="width:70%; margin-left:15%;margin-right:15%;" >
            <tr>
                <th></th>
                <th> Genus </th>
                <th> Family </th>
                <th> Order </th>
                <th> Class </th>
                <th> Pyhlum </th>
            </tr>
            <tr>
                <td>Number of taxonomic units in the forward BLAST database</td>
                <td> {{ genus_number }}</td>
                <td> {{ family_number }}</td>
                <td> {{ order_number }}</td>
                <td> {{ class_number }}</td>
                <td> {{ phylum_number }}</td>
            </tr>
            <tr>
                <td>Number of taxonomic units in detected RBHs</td>
                <td> {{ genus_normalized_number }}</td>
                <td> {{ family_normalized_number }}</td>
                <td> {{ order_normalized_number }}</td>
                <td> {{ class_normalized_number }}</td>
                <td> {{ phylum_normalized_number }}</td>
            </tr>
        </table>
    </div>

    <div class="dashboard_project_list_col" id="bokeh_plot" style="justify-content: center;align-content: center;text-align: center;display:none">
        {% include DatabaseStatisticsBokehPlot %}
    </div>

    <div class="dashboard_project_list_col" id="taxonomy_table" style="display:block">
        <hr>
        <table id="class_table" class="table table-responsive table-hover"> </table>
    </div>
    {% endif %}

{% endblock %}
{% block scripts %}
<script>
//this may provoke an TypeError: $(...).ready(...) is not a function
//check: https://stackoverflow.com/questions/21755397/typeerror-jquery-ready-is-not-a-function
$(document).ready(function() {

    var url = '{% url 'ajax_call_for_taxonomic_unit' project_id=project_id taxonomic_unit="class" %}'
    var table = document.getElementById("class_table");
    if(table) {
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            dataSrc: "",
            success: function (response) {
                var columns = [];
                columnNames = Object.keys(response.data[0])
                //console.log(columnNames)

                for (var i in columnNames) {
                    columns.push({
                        data: columnNames[i],
                        title: columnNames[i]
                    });
                }

                $("#class_table").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        'csv',
                        'selectAll',
                        'selectNone',
                        'selectRows'
                    ],
                    select: true,
                    columns: columns,
                    data: response.data,
                    "deferRender": true
                });

            }
        })
    }
})
</script>
<script>
(function () {
    var status = $('.progress-{{project_id}}'),
    poll = function () {
        jQuery.ajax({
            url: "{% url 'ajax_selection_constrained_phylogeny' project_id=project_id remote_or_local='local' %}",
            dataType: 'json',
            type: 'get',
            success: function (data) { // check if available
                //check if selection constrained phylogeny is already present
                var success_button = document.getElementById("success_button");
                //there is a phylogeny
                if(success_button){
                    clearInterval(pollInterval);
                } else { //there is no phylpogeny
                     if (data) { // get and check data value
                        status.text('Processing ...'); // get and print data string
                        if (data.data == 'SUCCESS') {
                            status.text("DONE")
                            clearInterval(pollInterval); // optional: stop poll function
                            window.alert("Selection-constrained phylogenetic inference has completed; " +
                                "the current page will now be reloaded.");
                            window.location.reload();
                        } else if (data.data == "ERROR") {
                            status.text("ERROR")
                            clearInterval(pollInterval);
                        }
                    }
                }

            },
            error: function () { // error logging
                status.text("error polling progress data")
            }
        });
    },
    pollInterval = setInterval(function () { // run function every 5000 ms
        poll();
    }, 5000);
    poll(); // also run function on init
})();
</script>
{% endblock %}