{% extends "base.html" %}

{% block title %} BLAST Database Statistics Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} BLAST Database Statistics Dashboard {% endblock %}

{% block page_description %}
{% endblock %}

{% block page_header %}
<div style="overflow-x: hidden; text-align: center;">
    Database Statistics
    <br>
    <p style="text-align: center;font-size: small"> Monitor Database Statistics, {{ request.user }}!</p>
    <div class="row" style="text-align:center;justify-content: center;">
        {% if task_status == 'NOTEXEC' %}
        <div>
            <a href="{% url 'execute_database_statistics_task' project_id=project_id %}">
                <button class="btn btn-dark" style="height: 80px;width: 130px; margin-right: 5px"> Calculate DB Statistics </button>
            </a>
        </div>
        {% else %}
                    <div>
            <a href="{% url 'execute_database_statistics_task' project_id=project_id %}">
                <button class="btn btn-dark" style="height: 80px;width: 130px; margin-right: 5px"> Calculate DB Statistics </button>
            </a>
        </div>
         <div>
            <a href="{% url 'delete_database_statistics' project_id=project_id %}">
                <button class="btn btn-danger" style="height: 80px;width: 130px; margin-right: 5px"> Delete DB Statistics </button>
            </a>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Just Display Class Based Database Statistic Result Dataframe-->
    {%  if task_status == 'SUCCESS' %}
    <hr>
    <div class="dashboard_project_list_col">
        <table id="class_db_statistics" class="table table-responsive table-hover"> </table>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function showData(){

        $.ajax({
            type:"GET",
            url: '{% url 'ajax_call_for_class' project_id=project_id %}',
            dataType: "json",
            dataSrc: "",
            success: function(response){
                var columns = [];
                columnNames = Object.keys(response.data[0])

                for (var i in columnNames) {
                    columns.push({
                            data:columnNames[i],
                            title:columnNames[i]
                        });
                    console.log(columns)
                }

                $('#class_db_statistics').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        'csv',
                        'selectAll',
                        'selectNone',
                        'selectRows'
                    ],
                    select: true,
                    columns: columns,
                    data:response.data,
                    "deferRender": true
                    });
            }
        })
    })
</script>
{% endblock %}

