<div class="post_form_container" id="multiple_file_upload_form_div">
    <form id="multiple_files_form" action="{% url 'upload_multiple_genomes' %}" method="post" enctype="multipart/form-data"
      onsubmit="showLoader('loading_div','post_form_container')">
        {% csrf_token %}

             <div class="form-group">
                <label for="{{ MultipleFileUploadGenomeForm.database_title.name }}">Database Title</label>
                <input type="text" class="form-control" id="{{ MultipleFileUploadGenomeForm.database_title.name }}" name="{{ MultipleFileUploadGenomeForm.database_title.name  }}">
                {% if MultipleFileUploadGenomeForm.database_title.name.errors %}
                <div class="alert alert-danger">
                    <strong>{{ MultipleFileUploadGenomeForm.database_title.name.errors }}</strong>
                </div>
                {% endif %}
             </div>

            <div class="form-group">
                <label for="{{ MultipleFileUploadGenomeForm.database_description.name }}">Database Description</label>
                <input type="text" class="form-control" id="{{ MultipleFileUploadGenomeForm.database_description.name }}" name="{{ MultipleFileUploadGenomeForm.database_description.name }}">
                {% if MultipleFileUploadGenomeForm.database_description.name.errors %}
                <div class="alert alert-danger">
                    <strong>{{ MultipleFileUploadGenomeForm.database_description.name.errors }}</strong>
                </div>
                {% endif %}
             </div>

            <hr>
            {% for field in MultipleFileUploadGenomeForm %}
                {% if "genome_file" in field.name %}
                 <div class="form-group">
                    <label for="{{ field.name }}">Upload Genome File</label>
                    <input type="file" class="form-control-file" id="{{ field.name }}" name="{{ field.name }}">
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.errors }}</strong>
                    </div>
                    {% endif %}
                </div>
                {% elif "organism" in field.name %}
                 <div class="form-group">
                    <label for="{{ field.name }}">Organism Name - {{ field.value }}</label>
                    <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}">
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.errors }}</strong>
                    </div>
                    {% endif %}
                </div>
                {% elif "extra" in field.name %}
                <div class="form-group">
                    <input type="hidden" class="form-control" id="extra_field_count" name="extra_field_count" value="{{ field.value }}">
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.errors }}</strong>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        <br>
        <input type="submit" value="Submit" class="btn btn-dark"  id="submit_multiple_field_form">
    </form>

    <button id="add_another" class="btn btn-secondary">Add Another Genome File</button>
</div>