{% extends "base.html" %}

{% block title %} CATHI Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} Reciprocal BLAST Logfile Dashboard {% endblock %}

{% block page_description %}
CATHI's reciprocal BLAST pipeline consists of several tasks.
    Each task is tracked by creating specific log files that can be viewed by the user through this dashboard.
    <br>
    <br>
    The tasks are divided into three main aspects: the general <b>Pipeline Logfiles</b>,
    which enable a close examination of CATHI's main pipeline tasks such as the forward and backward BLAST as well as the
    inference of RBHs; the <b>Query Specific Logfiles</b>, which list the multiple sequence alignment,
    phylogenetic inference, synteny, and general post-processing tasks
    (some conducted by the user through CATHI's interfaces and some conducted during the pipeline);
    and the <b>Database Statistics Logfiles</b> for reciprocal BLAST projects that are based on locally downloaded and formatted databases.
    <br>
    <br>
    Keep in mind that logfiles are not created for all tasks.
    For example, if the inference of CDDs for your query sequences does not result in an error,
    the log file for this task will have no content.
    However, if you encounter an error during the execution of the pipeline, check the logfiles through this interface.
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="dashboard_project_list_col">
        <div class="container">
            <div class="row justify-content-md-center" style="text-align: center">
                <div class="col-md">
                    <button class="btn btn-dark" onclick="displayDivElement('pipeline_logfiles')" > Pipeline Logfiles </button>
                </div>
                <div class="col-md">
                    <button class="btn btn-dark" onclick="displayDivElement('query_specific_logfiles')"> Query Specific Logfiles </button>
                </div>
                <div class="col-md">
                    <button class="btn btn-dark" onclick="displayDivElement('database_logfiles')" > Database Statistics Logfiles </button>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard_project_list_col" id="pipeline_logfiles" style="display:none">
        <h2 style="text-align: center"> Pipeline Logfiles </h2>
        <br>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th> Logfile Name </th>
                    <th> Progress </th>
                    <th> View Logfile </th>
                </tr>
                {% for logfile, progress in direct_logfiles %}
                    <tr>
                        <td> {{ logfile }} </td>
                        <td> {{ progress }} </td>
                        <td> <a href="{% url "view_logfile" project_id=project_id remote_or_local=remote_or_local logfile=logfile %}" class="btn btn-dark"> View </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="dashboard_project_list_col" id="query_specific_logfiles" style="display:none">
        <h2 style="text-align: center"> Query Specific - Logfiles </h2>
        <br>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th> Query </th>
                    <th> Logfile </th>
                    <th> View Logfile </th>
                </tr>
                {% for key, value in query_specific_logfiles.items %}

                    <tr>
                        <td style="font-size: large">
                            {{ key }}
                        </td>
                    </tr>

                    {% for val in value %}
                         <tr>
                            <td> {{ key }} </td>
                            <td> {{ val }} </td>
                            <td> <a href="{% url "view_query_specific_logfile" project_id=project_id remote_or_local=remote_or_local logfile=val query=key  %}" class="btn btn-dark"> View </a> </td>
                         </tr>
                    {% endfor %}

                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="dashboard_project_list_col" id="database_logfiles" style="display:none">
        <h2 style="text-align: center"> Database Statistics Logfiles </h2>
        <br>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th> Logfile Name </th>
                    <th> Progress </th>
                    <th> View Logfile </th>
                </tr>
                {% for logfile, progress in database_logfiles %}
                    <tr>
                        <td> {{ logfile }} </td>
                        <td> {{ progress }} </td>
                        <td> <a href="{% url "view_logfile" project_id=project_id remote_or_local=remote_or_local logfile=logfile %}" class="btn btn-dark"> View </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}