{% extends "base.html" %}

{% block title %} RecBlast Project Details {% endblock %}

{% block page_title %} Reciprocal Blast Project Details {% endblock %}

{% block infoheader %} Project Details {% endblock %}

{% block header %}
{% endblock %}

{% block page_description %}
<h2> Project Details </h2>
<br>
    <h4> What to do if an error occures during Snakemake execution? </h4>
    <ul>
        <li> Monitor your current Snakemake run via Panoptes and check if the workflow has thrown an error or is still running </li>
        <li> If an error occurred during Snakemake execution you might think about deleting this project and starting a new one with different query sequences, databases or BLAST settings </li>
        <li> If your server machine lost internet connection during execution of the last Snakemake rules, just restart the execution process </li>
    </ul>

    <h4> Basic Informations </h4>
    <ul>
        <li> Click on the "Execute Snakemake" Button if you haven't started your reciprocal BLAST analysis </li>
        <li> Monitor your current Snakemake run via Panoptes by clicking on the "Panoptes Monitoring" button </li>
        <li> If your Snakemake execution finishes you can view and download the results by clicking on the "Reciprocal Results Table" button which appears after successfull termination at the right side of the project information panel</li>
    </ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="dashboard_project_list_col">

        <h2 style="text-align: center"> Project Details and Execution Dashboard </h2>
        <p style="font-size: medium; text-align: center">
            {% if BlastProject.project_execution_task_result.status == 'SUCCESS' %}
                Your BLAST Project finished successfully, check the result table and the genus graph for evaluating your results.
            {% elif BlastProject.project_execution_task_result.status == 'FAILURE' %}
                Re-Execute your Snakemake Run for this BLAST project or delete the project.
            {% elif BlastProject.project_execution_task_result.status == 'PROGRESS' %}
                Your BLAST analysis is still in progress, monitor your current Snakemake Run via Panoptes.
            {% else %}
                Execute your BLAST project by pressing the Execute Snakemake button.
            {% endif %}
        </p>


        <div class="table-responsive">
            <table class="table table-hover" id="blastProjectTable">
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Database</th>
                        <th>Timestamp</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    <tr>
                        <td>{{BlastProject.project_title}}</td>
                        <td>
                            <table>
                                <tr>
                                    <tr> <td>Title: {{BlastProject.project_forward_database.database_name}}</td></tr>
                                    <tr> <td>Entries: {{BlastProject.project_forward_database.assembly_entries}}</td></tr>

                                </tr>
                            </table>
                        </td>

                        <td>{{BlastProject.timestamp|date:'d.m.Y, h:m:s'}}</td>

                        <td>
                            <form class="col"
                                   action="{% url 'project_execution' project_id=BlastProject.id%}"
                                   method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Execute Snakemake" class="btn btn-dark">
                            </form>
                        </td>
                        {% if BlastProject.project_execution_snakemake_task %}
                            <td><a class="btn btn-primary" href="http://127.0.0.1:5000/workflows/"> PANOPTES MONITORING </a></td>
                        {% endif %}
                        {% if BlastProject.project_execution_snakemake_task.status == 'SUCCESS' %}
                            <td><a class="btn btn-dark" href="{% url 'reciprocal_results' project_id=BlastProject.id %}"> Reciprocal Results Table </a></td>
                            <td><a class="btn btn-dark" href="{% url 'external_project_informations' project_id=BlastProject.id %}"> External Tools</a></td>
                            <td><a class="btn btn-dark" href="{% url 'database_statistics' project_id=BlastProject.id %}">Database Statistics</a> </td>
                            <td><a class="btn btn-dark" href="{% url 'cdd_domain_search_dashboard' project_id=BlastProject.id %}">CDD Domain Search</a> </td>
                        {% elif BlastProject.check_for_reciprocal_result_table == True %}
                            <td><a class="btn btn-dark" href="{% url 'reciprocal_results' project_id=BlastProject.id %}"> Reciprocal Results Table </a></td>
                            <td><a class="btn btn-dark" href="{% url 'database_statistics' project_id=BlastProject.id %}">Database Statistics</a> </td>
                        {% endif %}
                        <td>
                            <form class="col"
                                   action="{% url 'project_deletion' project_id=BlastProject.id%}"
                                   method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Delete Blast Project" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>

    {% if BlastProject.project_execution_snakemake_task.status == 'FAILURE' %}
    <div class="dashboard_project_list_col">
        <div class="alert alert-danger">
            An error occurred during execution of the pipeline.
        </div>
    </div>
    {% else %}
        <div class="dashboard_project_list_col">
            <div class="progress">
                <div id="progress_bar"> 0% </div>
            </div>
        </div>
    {% endif %}

    <!-- <div class="dashboard_project_list_col" id="QUERY_INFO" style="overflow-x: scroll;overflow-y: scroll">
    </div> -->

    <br>
    <div class="dashboard_project_list_col">
        <h2 style="text-align: center">Forward BLAST Database</h2>
        <p style="font-size: medium; text-align: center"> Search Space - This database is used for identification of homologous protein sequences. </p>
        <br>
        <div class="container-fluid">
            <table class="table table-hover" id="blastdatabase">
                <thead>
                 <tr>
                    <th>Index</th>
                     <th> Assembly Accession</th>
                     <th> Organism Name</th>
                     <th> Taxid </th>
                     <th> Species Taxid </th>
                     <th> Assembly Level </th>
                     <th> FTP Path </th>
                 </tr>
                </thead>
                <tbody>
                 <tr>
                 </tr>
                </tbody>
            </table>
        </div>
    </div>


    {% if BlastProject.project_execution_snakemake_task.status == 'SUCCESS' %}

    <br>
    <div class="dashboard_project_list_col">
        <h2 style="text-align: center">Query Sequence Information</h2>
        <p style="font-size: medium; text-align: center"> This table combines information about your uploaded query sequences.
            Information is just available for valid accession ids (ids with sequences stored in the NCBI protein database). </p>
        <br>
        <div class="container-fluid">
            {{ BlastProject.read_query_information_table | safe }}
        </div>
    </div>
    <br>

    <div class="dashboard_project_list_col">
        <h2 style="text-align: center"> Result Graphs </h2>
        <p style="font-size: medium; text-align: center"> <strong> Amount of hits in database organisms: </strong> Number of inferred RBHs (x-axis) in different species (y-axis) for one particular query sequence.
            <br>
            E.g. y-value is four and x value is two: Four species each with two RBHs - these two RBHs are putative in-paralogs. </p>
        <p style="font-size: medium; text-align: center"><strong> E-Value distribution in target sequences: </strong>
            Distribution of forward BLAST e-values for each query sequence. </p>
        <br>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static %}
                <img src="{% static '/images/result_images'%}/{{BlastProject.id}}/plot_amount_hits_of_target_taxon.png" alt="distribution of hits of target taxons" class="img-fluid" >
            </div>
            <div class="carousel-item">
                {% load static %}
                <img src="{% static '/images/result_images'%}/{{BlastProject.id}}/plot_evalue_distribution.png" alt="evalues" class="img-fluid" >
            </div>

            </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

        </div>
    </div>
    {% endif %}

</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'javascript/load_ajax_table.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#blastdatabase').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy',
                'csv',
                'selectAll',
                'selectNone',
                'selectRows'
            ],
            select: true,

            "ajax": {
                "url": "{% url 'ajax_call' database_id=Database.id %}",
                "type": "GET",
                "dataSrc": "data",
            },
            "columns": [
                {"data":'index'},
                {"data":'assembly_accession'},
                {"data":'organism_name'},
                {"data":'taxid'},
                {"data":'species_taxid'},
                {"data":'assembly_level'},
                {"data":'ftp_path'}],
            "deferRender": true
            });
    } );
    </script>
    <script>
    $(document).ready(function(){
        var result_table = document.getElementById('myTable');
        result_table.setAttribute("class","display")
        $('#myTable').DataTable(
            {
                dom: 'Bfrtip',
                "lengthMenu": [ 10 ],
                buttons: [
                    'copy',
                    'csv',
                    'selectAll',
                    'selectNone',
                    'selectRows'
                ],
                select: true,
                "columns":[
                    {"data":"index"},
                    {"data":"Accession ID"},
                    {"data":"Organism"},
                    {"data":"Sequence Length"},
                    {"data":"Sequence Definition"},
                    {"data":"Features"},
                    {"data":"PFAM",fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            if(oData.PFAM){
                                $(nTd).html("<a href='"+oData.PFAM+"'>"+oData.PFAM+"</a>");
                            } else {
                                $(nTd).html("<p>no link available</p>");
                            }
                        }},
                    {"data":"CDD",fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            if(oData.CDD) {
                                $(nTd).html("<a href='"+oData.CDD+"'>"+oData.CDD+"</a>");
                            } else {
                                $(nTd).html("<p>no link available</p>");
                            }
                        }
                    },
                    {"data":"TIGR",fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            if(oData.TIGR) {
                                $(nTd).html("<a href='"+oData.TIGR+"'>"+oData.TIGR+"</a>");
                            } else {
                                $(nTd).html("<p>no link available</p>");
                            }
                        }
                    }
                ],
                "deferRender": true,
            }
        );

    });
    </script>

    <!-- ajax call for snakemake pipeline progress_bar -->
    <script>
        (function() {
            var status = $('.progress_bar'),
            poll = function() {
                jQuery.ajax({
                    url: "{% url 'ajax_call_to_logfiles' project_id=BlastProject.id %}",
                    dataType: 'json',
                    type: 'get',
                    success: function(data) { // check if available
                        if(data){
                            var static_url = '{% static 'images/' %}';
                            var reciprocal_results_url = "{% url 'reciprocal_results' project_id=BlastProject.id %}";

                            ajax_call_to_project_details(
                                data,
                                static_url,
                                reciprocal_results_url
                            )

                            if(data.progress > 65){
                                clearInterval(pollInterval); // optional: stop poll function
                            } else if(data.progress == "ERROR"){
                                clearInterval(pollInterval);
                            }
                        } else {
                           clearInterval(pollInterval);
                        }
                     },
                    error: function() { // error logging
                        status.text("error polling progress data")
                }
            });
        },
        pollInterval = setInterval(function() { // run function every 5000 ms
            poll();
          }, 20000);
            poll(); // also run function on init
        })();
    </script>

{% endblock %}