{% extends "base.html" %}

{% block title %} CATHI Core Pipeline Project Details {% endblock %}

{% block page_title %} Reciprocal Blast Project Details {% endblock %}

{% block infoheader %} Project Details {% endblock %}

{% block header %}
{% endblock %}

{% block page_description %}
    <h2> Project Details </h2>

    This detail page lists all available results and post-processing options of the project.
    You can track the progress of the pipeline by checking the progress bar and the logs.
    During the course of the pipeline, this page enables viewing intermediate results,
    such as a result table of all inferred RBHs, so you might want to refresh this dashboard from time to time.
    Keep in mind that a project with many query sequences might run for a long time,
    especially if the selected forward BLAST database is large (such as the nr database).

    <h4> Basic Information </h4>
    <ul>
        <li> Click on the "Execute Snakemake" Button if you haven't started your reciprocal BLAST analysis </li>
        <li> If your Snakemake execution finishes the progress bar will show a value of 100%, you can then reload this dashboard</li>
        <li> For more information check the home webpage of CATHI</li>
    </ul>

    <br>
    <h4> What to do if an error occurs during Snakemake execution? </h4>
    <ul>
        <li> Monitor your current Snakemake run and check if the workflow has thrown an error or is still running. The progress is automatically updated every 30 seconds.</li>
        <li> Have a look at the logfiles of this run: <a class="btn btn-info" target="_blank" href="{% url 'logfile_dashboard' project_id=BlastProject.id remote_or_local="local" %}">Examine Logs</a></li>
        <li> If an error occurred during Snakemake execution you might think about deleting this project and starting a new one with different query sequences, databases or BLAST settings. </li>
        <li> Check your entrez_query variable for correctness. </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="dashboard_project_list_col">
        <h3 class="col_header" style="text-align: center"> Project Details and Execution Dashboard </h3>
        {% include "blast_project/includes/project_details/status_message.html" with task_status=BlastProject.project_execution_snakemake_task.status %}

        <div class="table-responsive">
            <table class="table table-hover" id="blastProjectTable">
                <thead>
                    <tr>
                        <th scope="col">Project Title</th>
                        <th scope="col">Database</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Execution</th>
                        <th scope="col">Database Details</th>
                        <th scope="col">Logs</th>
                        <th scope="col">Deletion</th>
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    <tr>
                        {% include "blast_project/includes/project_details/metadata_cells.html" with project_title=BlastProject.project_title project_id=BlastProject.id database_title=BlastProject.project_forward_database.database_name database_entries=BlastProject.project_forward_database.assembly_entries project_timestamp=BlastProject.timestamp %}
                        <td>
                            {% if BlastProject.project_execution_snakemake_task.status == 'PROGRESS' %}
                                <button class="btn btn-primary disabled">
                                    Loading ...
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                            {% else %}
                                <form class="col"
                                      action="{% url 'project_execution' project_id=BlastProject.id %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Execute Snakemake" class="btn btn-primary">
                                </form>
                            {% endif %}
                        </td>
                        <td><a class="btn btn-dark" href="{% url 'database_details' database_id=Database.id %}">Database Details</a></td>
                        <td>
                            {% if BlastProject.project_execution_snakemake_task %}
                                <a class="btn btn-info" href="{% url 'logfile_dashboard' project_id=BlastProject.id remote_or_local="local" %}">Examine Logs</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if BlastProject.project_execution_snakemake_task.status != 'PROGRESS' %}
                                <form class="col"
                                      action="{% url 'project_deletion' project_id=BlastProject.id %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete Blast Project" class="btn btn-danger">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            {% if BlastProject.project_execution_snakemake_task.status == 'SUCCESS' %}
                                {% if BlastProject.project_forward_database.uploaded_files == True %}
                                    <span></span>
                                {% endif %}
                                <a class="btn btn-dark" href="{% url 'reciprocal_results' project_id=BlastProject.id %}">Reciprocal Results Table</a>
                                <a class="btn btn-dark" href="{% url 'external_project_informations' project_id=BlastProject.id remote_or_local="local" %}">MSA and Phylogeny</a>
                                <a class="btn btn-dark" href="{% url 'database_statistics' project_id=BlastProject.id %}">Database Statistics</a>
                                <a class="btn btn-dark" href="{% url 'cdd_domain_search_dashboard' project_id=BlastProject.id remote_or_local="local" %}">CDD Domain Search</a>
                                {% if BlastProject.project_forward_database.uploaded_files == False %}
                                    <a class="btn btn-dark" href="{% url 'synteny_dashboard' project_id=BlastProject.id remote_or_local="local" %}">Synteny Detection</a>
                                {% endif %}
                                <a class="btn btn-info" href="{% url 'download_archive' project_id=BlastProject.id remote_or_local='local' %}">Download Project</a>
                            {% elif BlastProject.check_for_reciprocal_result_table == True %}
                                <a class="btn btn-dark" href="{% url 'reciprocal_results' project_id=BlastProject.id %}">Reciprocal Results Table</a>
                                <a class="btn btn-dark" href="{% url 'database_statistics' project_id=BlastProject.id %}">Database Statistics</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if BlastProject.project_execution_snakemake_task.status == 'SUCCESS' %}
            {% include "blast_project/includes/project_details/common_success_controls.html" %}
        {% endif %}

        <br>
        <br>

        {% url 'ajax_call_to_logfiles' project_id=BlastProject.id as progress_poll_url %}
        {% include "blast_project/includes/project_details/progress_status.html" with task_status=BlastProject.project_execution_snakemake_task.status progress_poll_url=progress_poll_url %}
    </div>

    {% if BlastProject.project_execution_snakemake_task.status == 'SUCCESS' %}
        {% include "blast_project/includes/project_details/query_sequence_information.html" %}

        {% include "blast_project/includes/project_details/reciprocal_result_summary.html" %}

        {% url 'project_artifact' project_id=BlastProject.id remote_or_local='local' relative_path='plot_amount_hits_of_target_taxon.png' as amount_hits_image %}
        {% url 'project_artifact' project_id=BlastProject.id remote_or_local='local' relative_path='plot_evalue_distribution.png' as evalue_distribution_image %}
        {% with amount_hits_image=amount_hits_image evalue_distribution_image=evalue_distribution_image %}
            {% include "blast_project/includes/project_details/result_graphs.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}


{% block scripts %}
{% load static %}

<script src="{% static 'javascript/load_ajax_table.js' %}"></script>

<script>
    $(document).ready(function () {
        initializeReciprocalResultTable('myTable');
    });
</script>
{% endblock %}
