{% extends "base.html" %}

{% block title %} CATHI Core Pipeline Project Details {% endblock %}

{% block page_title %} Reciprocal Blast Project Details {% endblock %}

{% block infoheader %} Project Details {% endblock %}

{% block header %}
{% endblock %}

{% block page_description %}
    <h2> Project Details </h2>

    This detail page lists all available results and post-processing options of the project.
    You can track the progress of the pipeline by checking the progress bar and the logs.
    During the course of the pipeline, this page enables viewing intermediate results,
    such as a result table of all inferred RBHs, so you might want to refresh this dashboard from time to time.
    Keep in mind that a project with many query sequences might run for a long time,
    especially if the selected forward BLAST database is large (such as the nr database).

    <h4> Basic Information </h4>
    <ul>
        <li> Click on the "Execute Snakemake" Button if you haven't started your reciprocal BLAST analysis </li>
        <li> If your Snakemake execution finishes the progress bar will show a value of 100%, you can then reload this dashboard</li>
        <li> For more information check the home webpage of CATHI</li>
    </ul>

    <br>
    <h4> What to do if an error occurs during Snakemake execution? </h4>
    <ul>
        <li> Monitor your current Snakemake run and check if the workflow has thrown an error or is still running. The progress is automatically updated every 30 seconds.</li>
        <li> Have a look at the logfiles of this run: <a class="btn btn-info" target="_blank" href="{% url 'logfile_dashboard' project_id=BlastProject.id remote_or_local="remote" %}">Examine Logs</a></li>
        <li> If an error occurred during Snakemake execution you might think about deleting this project and starting a new one with different query sequences, databases or BLAST settings. </li>
        <li> Check your entrez_query variable for correctness. </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="dashboard_project_list_col">
        <h3 class="col_header" style="text-align: center"> Project Details and Execution Dashboard </h3>
        {% include "blast_project/includes/project_details/status_message.html" with task_status=BlastProject.r_project_execution_snakemake_task.status %}

        <div class="table-responsive">
            <table class="table table-hover" id="blastProjectTable">
                <thead>
                    <tr>
                        <th scope="col">Project Title</th>
                        <th scope="col">Database</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Execution</th>
                        <th scope="col">Logs</th>
                        <th scope="col">Deletion</th>
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    <tr>
                        {% include "blast_project/includes/project_details/metadata_cells.html" with project_title=BlastProject.r_project_title project_id=BlastProject.id database_title=BlastProject.r_project_forward_database project_timestamp=BlastProject.r_timestamp %}
                        <td>
                            {% if BlastProject.r_project_execution_snakemake_task.status == 'PROGRESS' %}
                                <button class="btn btn-primary disabled">
                                    Loading ...
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                            {% else %}
                                <form class="col"
                                      action="{% url 'remote_project_execution' project_id=BlastProject.id %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Execute Snakemake" class="btn btn-primary">
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if BlastProject.r_project_execution_snakemake_task %}
                                <a class="btn btn-info" href="{% url 'logfile_dashboard' project_id=BlastProject.id remote_or_local="remote" %}">Examine Logs</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if BlastProject.r_project_execution_snakemake_task.status != 'PROGRESS' %}
                                <form class="col"
                                      action="{% url 'remote_project_deletion' project_id=BlastProject.id %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete Blast Project" class="btn btn-danger">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            {% if BlastProject.r_project_execution_snakemake_task.status == 'SUCCESS' %}
                                <a class="btn btn-dark" href="{% url 'remote_reciprocal_results' project_id=BlastProject.id %}">Reciprocal Results Table</a>
                                <a class="btn btn-dark" href="{% url 'external_project_informations' project_id=BlastProject.id remote_or_local="remote" %}">MSA and Phylogeny</a>
                                <a class="btn btn-dark" href="{% url 'cdd_domain_search_dashboard' project_id=BlastProject.id remote_or_local="remote" %}">CDD Domain Search</a>
                                <a class="btn btn-dark" href="{% url 'synteny_dashboard' project_id=BlastProject.id remote_or_local='remote' %}">Synteny Detection</a>
                                <a class="btn btn-info" href="{% url 'download_archive' project_id=BlastProject.id remote_or_local='remote' %}">Download Project</a>
                            {% elif BlastProject.check_for_reciprocal_result_table == True %}
                                <a class="btn btn-dark" href="{% url 'remote_reciprocal_results' project_id=BlastProject.id %}">Reciprocal Results Table</a>
                                {% if BokehPlot %}
                                    <a class="btn btn-dark" onclick="displayDivElement('interactive_bokeh_plot')" > Interactive Plot </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if BlastProject.r_project_execution_snakemake_task.status == 'SUCCESS' %}
            {% include "blast_project/includes/project_details/common_success_controls.html" %}
            <div class="container">
                <div class="row justify-content-md-center" style="text-align: center">
                    <div class="col-md">
                        <button class="btn btn-dark" onclick="displayDivElement('interactive_bokeh_plot')" > Interactive Plot </button>
                    </div>

                    {% if selection_task == 'SUCCESS' %}
                        <div class="col-md">
                            <a href="{% url 'view_selection_phylogeny' project_id=project_id remote_or_local='remote' %}" target="_blank">
                                <button id="success_button" class="btn btn-info" style="height: 80px;width: 130px; margin-right: 5px"> View Phylogeny </button>
                            </a>
                        </div>
                    {% elif selection_task == 'PROGRESS' %}
                        <div class="col-md">
                            <button class="btn btn-info" disabled>
                                <span class="spinner-grow spinner-grow-sm"></span>
                                <p><span class="progress-{{ project_id }}"></span></p>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <br>
        <br>

        {% url 'ajax_call_to_remote_logfiles' project_id=BlastProject.id as progress_poll_url %}
        {% include "blast_project/includes/project_details/progress_status.html" with task_status=BlastProject.r_project_execution_snakemake_task.status progress_poll_url=progress_poll_url %}
    </div>

    {% if BlastProject.r_project_execution_snakemake_task.status == 'SUCCESS' %}
        {% include "blast_project/includes/project_details/query_sequence_information.html" %}

        {% include "blast_project/includes/project_details/reciprocal_result_summary.html" %}

        <div class="dashboard_project_list_col" id="interactive_bokeh_plot" style="max-height: 50%;display: none">
            {% include BokehPlot %}
        </div>

        {% url 'project_artifact' project_id=BlastProject.id remote_or_local='remote' relative_path='plot_amount_hits_of_target_taxon.png' as amount_hits_image %}
        {% url 'project_artifact' project_id=BlastProject.id remote_or_local='remote' relative_path='plot_evalue_distribution.png' as evalue_distribution_image %}
        {% with amount_hits_image=amount_hits_image evalue_distribution_image=evalue_distribution_image %}
            {% include "blast_project/includes/project_details/result_graphs.html" %}
        {% endwith %}
    {% elif BokehPlot %}
        <div class="dashboard_project_list_col" id="interactive_bokeh_plot" style="max-height: 50%;display: none">
            {% include BokehPlot %}
        </div>
    {% endif %}
{% endblock %}


{% block scripts %}
{% load static %}

<script src="{% static 'javascript/load_ajax_table.js' %}"></script>

<script>
    $(document).ready(function () {
        initializeReciprocalResultTable('myTable');
    });
</script>

<script>
(function () {
    {% if BlastProject.r_project_execution_snakemake_task.status == "SUCCESS" %}
        var status = $('.progress-{{project_id}}'),
        poll = function () {
            jQuery.ajax({
                url: "{% url 'ajax_selection_constrained_phylogeny' project_id=project_id remote_or_local='remote' %}",
                dataType: 'json',
                type: 'get',
                success: function (data) { // check if available
                    //check if selection constrained phylogeny is already present
                    var success_button = document.getElementById("success_button");
                    //there is a phylogeny
                    if(success_button){
                        clearInterval(pollInterval);
                    } else { //there is no phylpogeny
                         if (data) { // get and check data value
                            status.text('Processing ...'); // get and print data string
                            if (data.data == 'SUCCESS') {
                                status.text("DONE")
                                clearInterval(pollInterval); // optional: stop poll function
                                window.alert("Selection-constrained phylogenetic inference has completed; " +
                                    "the current page will now be reloaded.");
                                window.location.reload();
                            } else if (data.data == "ERROR") {
                                status.text("ERROR")
                                clearInterval(pollInterval);
                            }
                        }
                    }

                },
                error: function () { // error logging
                    status.text("error polling progress data")
                }
            });
        },
        pollInterval = setInterval(function () { // run function every 5000 ms
            poll();
        }, 5000);
        poll(); // also run function on init
    {% endif %}
})();
</script>
{% endblock %}
