<div class="table-responsive">
    <table class="table table-hover" id="activeDatabasesTable">
            <thead>
                <tr>
                    <th>Database Name</th>
                   <!--  <th>Creation Timestamp</th>-->
                    <th>Assembly Entries</th>
                    <th>Assembly Levels</th>
                    <th>Database Details</th>

                </tr>
            </thead>
            <tbody id="activeDatabaseTableBody">
                {% for database in ActiveBlastDatabases %}
                    <tr>
                        <td>{{database.database_name}}</td>
                       <!--  <td>{{database.timestamp |date:'d.m.Y, h:m:s'}}</td> -->
                        <td>{{database.assembly_entries}}</td>
                        <td>
                        <table>
                            <tr>
                            {% for assembly_level in database.assembly_levels.all %}
                                <tr><td style="font-size: small">{{assembly_level.assembly_level}}</td></tr>
                            {% endfor %}
                            </tr>
                        </table>
                        </td>
                         <td>
                             <form class="col"
                                   action="{% url 'database_details' database_id=database.id%}"
                                   method="GET">
                                {% csrf_token %}
                                <input type="submit" value="Details" class="btn btn-dark">
                            </form>
                        </td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>