<div class="table-responsive">
    <table class="table table-hover" id="oneWayRemoteBlastProjectTable">
            <thead>
                <tr>
                    <th>Project Title</th>
                    <th>Database Name</th>
                   <!--  <th>Timestamp</th> -->
                    <th>Project Details</th>
                </tr>
            </thead>
            <tbody id="blastProjectTableBody">
                {% for project in OneWayRemoteBlastProjects %}
                    <tr>
                        <td>{{project.r_project_title}}</td>
                        <td>{{project.r_project_database}}</td>
                       <!--  <td>{{project.r_timestamp |date:'d.m.Y, h:m:s' }}</td> -->
                        <td>
                             <form class="col"
                                   action="{% url 'one_way_remote_project_details' project_id=project.id %}"
                                   method="GET">
                                {% csrf_token %}
                                <input type="submit" value="Details" class="btn btn-dark">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>