{% extends "base.html" %}

{% block title %} BLAST Dashboard {% endblock %}

{% block page_title %} {% endblock %}

{% block infoheader %} Active Remote BLAST Projects {% endblock %}

{% block page_description %}
    You are logged in as: <strong>{{request.user}}</strong>.<br>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="dashboard_project_list_col">
    <div class="table-responsive" >
        <table class="table table-hover scrollbar scrollbar-black bordered-black square thin" id="blastProjectTable">
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Forward Database</th>
                        <th>Backward Database</th>
                        <!-- <th>Timestamp</th> -->
                        <th>Project Details</th>
                    </tr>
                </thead>
                <tbody id="blastProjectTableBody">
                    {% for project in blast_projects %}
                        <tr>
                            <td>{{project.r_project_title}}</td>
                            <td>{{project.r_project_forward_database.database_name}}</td>
                            <td>{{project.r_project_backward_database.database_name}}</td>
                            <!-- <td>{{ project.r_timestamp|date:'d.m.Y, h:m:s' }}</td> -->
                            <td>
                                 <form class="col"
                                       action="{% url 'remote_project_details' project_id=project.id%}"
                                       method="GET">
                                    {% csrf_token %}
                                    <input type="submit" value="Details" class="btn btn-dark">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#blastProjectTable').DataTable();
    });
</script>
{% endblock %}