{% extends "base.html" %}

{% block title %} Upload Genomes Dashboard {% endblock %}

{% block page_title %} Upload Genomes Dashboard {% endblock %}

{% block infoheader %} Genome Upload {% endblock %}

{% block page_description %}
Upload your own FASTA files and format them to BLAST databases.
    You can choose three upload forms, either you upload one genome fasta file,
    you upload a concatenated genome fasta file
    or you upload multiple genome fasta files.
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
<div class="transparent-box" id="post_form_container">
    {% include "blast_project/form_genome_upload.html" %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}