{% extends "base.html" %}

{% block title %} Upload Genomes Dashboard {% endblock %}

{% block page_title %} Upload Genomes Dashboard {% endblock %}

{% block infoheader %} Genome Upload {% endblock %}

{% block page_description %}
Upload your own FASTA files and format them to BLAST databases.
    You can choose three upload forms, either you upload one genome fasta file,
    you upload a concatenated genome fasta file
    or you upload multiple genome fasta files.
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}



    <div class="container-fluid text-center transparent-box">
    <form name="database_upload_menu" action="javascript:void(0)" id="upload_genome_files_dashboard_load_forms">
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" id="single" name="single_genome_file_upload_button" value="single" onchange="loadMultipleOrSingleFileUpload(this.value)">
            <label class="custom-control-label" for="single">Upload a single genome file</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" id="multiple" name="multiple_genome_file_upload_button" value="multiple" onchange="loadMultipleOrSingleFileUpload(this.value)">
            <label class="custom-control-label" for="multiple">Upload multiple genome files</label>
        </div>
    </form>
</div>
<br>
<div id="upload_form_master_div" class="transparent-box" style="display: none">
    <div  id="post_form_single_container" style="display: none">
        {% include "blast_project/form_genome_upload.html" %}
    </div>

    <div id="post_form_multiple_container" style="display: none;">
        {% include "blast_project/form_genome_upload_multiple_files.html" %}
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
let form_count = Number($("[name=extra_field_count]").val());
// get extra form count so we know what index to use for the next item.

$("#add_another").click(function() {
    form_count ++;
    //if(form_count == 0){
    //    form_count = 1;
    //}
    var form = document.getElementById("multiple_files_form")
    var submit_button = document.getElementById("submit_multiple_field_form")

    submit_button.parentNode.removeChild(submit_button)

    var file_field_name = 'genome_file_field_' + form_count;
    var organism_field_name = 'organism_name_' + form_count;

    var new_form_div_file = document.createElement("div")
    var new_file_field_label = document.createElement("label")
    var new_file_field_input = document.createElement("input")

    var genome_file_text = document.createTextNode("Next Genome FASTA File:")
    new_form_div_file.setAttribute("class","form-group")
    new_file_field_label.setAttribute("for",file_field_name)
    new_file_field_label.appendChild(genome_file_text)
    new_file_field_input.setAttribute("id",file_field_name)
    new_file_field_input.setAttribute("type","file")
    new_file_field_input.setAttribute("class","form-control-file")
    //the name field is especially important for django!
    new_file_field_input.setAttribute("name",file_field_name)

    var new_form_div_organism = document.createElement("div")
    var new_organism_text_field_label = document.createElement("label")
    var new_organism_text_field_input = document.createElement("input")

    var organism_file_text = document.createTextNode("Next Organism Name:")
    new_form_div_organism.setAttribute("class","form-group")
    new_organism_text_field_label.setAttribute("for",organism_field_name)
    new_organism_text_field_label.appendChild(organism_file_text)
    new_organism_text_field_input.setAttribute("id",organism_field_name)
    new_organism_text_field_input.setAttribute("type","text")
    new_organism_text_field_input.setAttribute("class","form-control")
    new_organism_text_field_input.setAttribute("name",organism_field_name)

    new_form_div_file.appendChild(new_file_field_label)
    new_form_div_file.appendChild(new_file_field_input)
    new_form_div_organism.appendChild(new_organism_text_field_label)
    new_form_div_organism.appendChild(new_organism_text_field_input)

    $("#multiple_files_form").append(new_form_div_file);
    $("#multiple_files_form").append(new_form_div_organism);
    $("#multiple_files_form").append(document.createElement("br"));

    //$("#multiple_files_form").append(orgname);
    // build element and append it to our forms container

    $("[name=extra_field_count]").val(form_count);
    form.appendChild(submit_button)
    // increment form count so our view knows to populate
    // that many fields for validation
})



$("#submit_multiple_field_form").click(function() {
    alert("SUBMIT!")
})
</script>
{% endblock %}